.mtrl-button[test]
  &.height
    --mtrl-button-height: 48px

  &.horizontal-padding
    --mtrl-button-horizontal-padding: 24px

  &.ripple-color
    --mtrl-button-ripple-color: green

  &.container-color
    --mtrl-button-container-color: pink

  &.disabled-container-color
    --mtrl-button-disabled-container-color: yellow

  &.ink-color
    --mtrl-button-ink-color: green

  &.disabled-ink-color
    --mtrl-button-disabled-ink-color: orange

  &.label-color
    --mtrl-button-label-color: blue

  &.disabled-label-color
    --mtrl-button-disabled-label-color: orange

  &.icon-color
    --mtrl-button-icon-color: blue

  &.disabled-icon-color
    --mtrl-button-disabled-icon-color: orange

  &.corner-radius
    --mtrl-button-corner-radius: 8px

  &.stroke-width
    --mtrl-button-stroke-width: 2px

  &.stroke-color
    --mtrl-button-stroke-color: green

  &.dark-stroke-color
    --mtrl-button-dark-stroke-color: green
