@use "../theme/theme" as *
@use "states" as *

@mixin ripple($color)
  &::before
    background-color: $color
    opacity: 0

  &:hover::before
    background-color: $color
    opacity: $container-overlay--hovered

  &:focus::before
    background-color: $color
    opacity: $container-overlay--focused

  &:active::before
    background-color: $color
    opacity: $container-overlay--pressed

@mixin ripple_
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: inherit
