@use "../theme/theme" as *
@use "states" as *

@mixin ripple($color)
  &::before
    background-color: $color

  &:not(:hover):not(:focus):not(:active)::before
    background-color: prop(elevation-overlay, $color)

@mixin ripple_not_dark
  @include var(elevation-overlay-opacity, 0%)

@mixin ripple_
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: inherit
    opacity: prop(elevation-overlay-opacity, 0%)

  &:hover::before
    opacity: calc(#{$container-overlay--hovered} + #{prop(elevation-overlay-opacity, 0%)})

  &:focus::before
    opacity: calc(#{$container-overlay--focused} + #{prop(elevation-overlay-opacity, 0%)})

  &:active::before
    opacity: calc(#{$container-overlay--pressed} + #{prop(elevation-overlay-opacity, 0%)})
