@use "states" as *

@mixin ripple($container, $overlay, $speed: 2)
  @supports (background-image: unquote('paint(ripple)'))
    background-image: unquote('paint(ripple)')
  --ripple-color: #{rgba($overlay, $container-overlay--pressed)}
  --ripple-speed: #{$speed}
  --container-color: #{$container}
  --overlay-color: #{$overlay}
  background-color: rgb(var(--container-color))
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: var(--corner-radius)
    background-color: rgb(var(--overlay-color))
    opacity: 0

  &:hover
    &::before
      opacity: $container-overlay--hovered

  &:focus
    &::before
      opacity: $container-overlay--focused

  &:active
    &::before
      opacity: $container-overlay--pressed