// https://material.io/design/interaction/states.html

$container-overlay--hovered: 4%
$container-overlay--focused: 12%
$container-overlay--pressed: 10%
$container-overlay--dragged: 8%

$disabled-outlined-container: 12%
$disabled-text-color: 38%
$disabled-filled-container: 12%
