// https://material.io/design/interaction/states.html

$container-overlay--hovered: .04
$container-overlay--focused: .12
$container-overlay--pressed: .10
$container-overlay--dragged: .08

$disabled-outlined-container: .12
$disabled-text-color: .38
$disabled-filled-container: .12
