@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
.mtrl-button {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0892857143rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-transform: uppercase;
  height: 36px;
  border-radius: 4px;
  --color: rgba(98, 0, 238, 0.1);
  --speed: 2;
  background-image: paint(ripple);
  --ripple-color: var(--color);
  --ripple-speed: var(--speed);
  background-color: #ffffff;
  color: rgba(98, 0, 238, 0.87);
  margin: 4px;
  padding: 0px 8px;
  min-width: 64px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
  border: none;
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 150ms;
}
.mtrl-button::after {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
}
.mtrl-button.mtrl-button--choice {
  background-color: #efe6fd;
}
.mtrl-button.mtrl-button--choice.mtrl-button--contained {
  background-color: #a973f6;
}
.mtrl-button:hover {
  background-color: #f9f5fe;
}
.mtrl-button:focus {
  background-color: #ece0fd;
}
.mtrl-button:active {
  background-color: #efe6fd;
}
.mtrl-button:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.12);
}
.mtrl-button:not(:focus-visible) {
  outline: none;
}
.mtrl-button:focus-visible {
  overflow: hidden;
}
.mtrl-button:hover {
  cursor: pointer;
}
.mtrl-button:disabled {
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0.12);
}
.mtrl-button > * {
  position: relative;
}
.mtrl-button--outlined {
  padding: 0px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.mtrl-button--contained {
  --color: rgba(255, 255, 255, 0.1);
  --speed: 2;
  background-image: paint(ripple);
  --ripple-color: var(--color);
  --ripple-speed: var(--speed);
  background-color: #6200ee;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  color: rgba(255, 255, 255, 0.87);
  padding: 0px 16px;
}
.mtrl-button--contained.mtrl-button--choice {
  background-color: #721af0;
}
.mtrl-button--contained.mtrl-button--choice.mtrl-button--contained {
  background-color: #b88cf7;
}
.mtrl-button--contained:hover {
  background-color: #680aef;
}
.mtrl-button--contained:focus {
  background-color: #751ff0;
}
.mtrl-button--contained:active {
  background-color: #721af0;
}
.mtrl-button--contained:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 4;
}
.mtrl-button--contained:focus {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  z-index: 6;
}
.mtrl-button--contained:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 8;
}
.mtrl-button--contained:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: rgba(119, 119, 119, 0.12);
}
.mtrl-button--choice {
  border-radius: 8px 8px 0 0;
  --color: rgba(0, 0, 0, 0.1);
  --speed: 2;
  background-image: paint(ripple);
  --ripple-color: var(--color);
  --ripple-speed: var(--speed);
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 16px;
  border-bottom: 2px solid #000;
}
.mtrl-button--choice.mtrl-button--choice {
  background-color: #e6e6e6;
}
.mtrl-button--choice.mtrl-button--choice.mtrl-button--contained {
  background-color: #737373;
}
.mtrl-button--choice:hover {
  background-color: whitesmoke;
}
.mtrl-button--choice:focus {
  background-color: #e0e0e0;
}
.mtrl-button--choice:active {
  background-color: #e6e6e6;
}
.mtrl-button--choice:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.12);
}
.mtrl-button--choice--active {
  --color: rgba(98, 0, 238, 0.1);
  --speed: 2;
  background-image: paint(ripple);
  --ripple-color: var(--color);
  --ripple-speed: var(--speed);
  background-color: #ffffff;
  color: rgba(98, 0, 238, 0.87);
  border-color: #6200ee;
  border-bottom: 2px solid;
}
.mtrl-button--choice--active.mtrl-button--choice {
  background-color: #efe6fd;
}
.mtrl-button--choice--active.mtrl-button--choice.mtrl-button--contained {
  background-color: #a973f6;
}
.mtrl-button--choice--active:hover {
  background-color: #f9f5fe;
}
.mtrl-button--choice--active:focus {
  background-color: #ece0fd;
}
.mtrl-button--choice--active:active {
  background-color: #efe6fd;
}
.mtrl-button--choice--active:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.12);
}
.mtrl-button--rounded {
  border-radius: 18px;
}
.mtrl-button--block {
  width: 100%;
}
.mtrl-button__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mtrl-button__label--sentence-case {
  text-transform: none;
}
.mtrl-button__icon {
  margin-left: -4px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  font-size: 18px;
  fill: currentColor;
}
[dir=rtl] .mtrl-button__icon {
  margin-left: 8px;
  margin-right: -4px;
}
.mtrl-button__label + .mtrl-button__icon {
  margin-left: 8px;
  margin-right: -4px;
}
[dir=rtl] .mtrl-button__label + .mtrl-button__icon {
  margin-left: -4px;
  margin-right: 8px;
}

.test-target, .background-target-1, .background-target-2, .smooth-corners-target-1, .smooth-corners-target-2, .corner-shape-target-1, .corner-shape-target-5, .corner-shape-target-4, .corner-shape-target-3, .corner-shape-target-2 {
  position: relative;
  display: inline-flex;
  padding: 24px;
  margin: 8px;
  font-size: 1.25rem;
  background-color: #03dac6;
}

.corner-shape-target-1, .corner-shape-target-5, .corner-shape-target-4, .corner-shape-target-3, .corner-shape-target-2 {
  -webkit-mask-image: paint(corner-shape);
  --corner-radius: 16px;
  --corner-shape: round;
}

.corner-shape-target-2 {
  --corner-shape: scoop;
}

.corner-shape-target-3 {
  --corner-shape: bevel;
}

.corner-shape-target-4 {
  --corner-shape: notch;
}

.corner-shape-target-5 {
  --corner-shape: iPhoneX;
}

.smooth-corners-target-1, .smooth-corners-target-2 {
  width: 128px;
  height: 128px;
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 4;
}

.smooth-corners-target-2 {
  --smooth-corners: 5;
}

.background-target-1, .background-target-2 {
  color: #fff;
  background: url(https://css-houdini.rocks/posts/background-properties/lowpoly.jpg);
  list-style-image: url(https://css-houdini.rocks/posts/background-properties/lowpoly.jpg);
  --background-opacity: 1;
  --background-rotate: 10deg;
  --background-filter: hue-rotate(var(--hue-rotate)) grayscale(var(--grayscale)) blur(var(--blur));
  --blur: 0px;
  --grayscale: 0%;
  --hue-rotate: -50deg;
  background-image: paint(background);
}

.background-target-2 {
  -webkit-mask-image: paint(avatar-polygon);
  --avatar-sides: 8;
  --avatar-angle: 0deg;
}

.A {
  width: 250px;
  height: 350px;
  margin: 50px auto;
  background: linear-gradient(#fff 50%, #eee);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), 0 5px 15px rgba(0, 0, 0, 0.4);
  resize: both;
}

.B, .C {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.B {
  height: 200px;
  padding-bottom: 30px;
  background-color: #ff3d3d;
  background-image: linear-gradient(#651a6b, #ff3d3d);
  background-repeat: no-repeat;
  border-bottom: 1px solid transparent;
  border-image-source: radial-gradient(closest-corner at 50% -400px, #ff3d3d 100%, transparent);
  border-image-slice: 0 0 100% 0;
  border-image-width: var(--separator-size);
  border-image-outset: var(--separator-size);
  --separator-shape: curve-left;
  --separator-size: 75px;
  --separator-shadow: .35;
  --separator-shadow-color: rgba(0, 0, 0, .35);
  border-image-source: paint(separator);
}

.C {
  height: 150px;
  color: #222;
  padding-bottom: 50px;
  font-size: 1.2em;
}

.D {
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  margin-bottom: 20px;
}

/*# sourceMappingURL=index.css.map */
