@use "../../design/color/theme" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/usability/accessibility" as *

@mixin button-theme($theme: primary)
  --mtrl-theme--button-color-rgb: #{rgb-color($theme)}
  --mtrl-theme--button-on-color-rgb: #{rgb-color(on-#{$theme})}

@function button-theme($alpha: 1)
  @return color(-button-color, $alpha)

@function button-on-theme($alpha: 1)
  @return color(-button-on-color, $alpha)

@mixin button-density($density: 0)
  $height: get-density(36px, $density)
  height: $height

  &.mtrl-button--rounded
    border-radius: $height / 2


@mixin fab-theme($theme: black)
  --mtrl-theme--fab-color-rgb: #{rgb-color($theme)}
  --mtrl-theme--fab-on-color-rgb: #{rgb-color(on-#{$theme})}

@function fab-theme($alpha: 1)
  @return color(-fab-color, $alpha)

@function fab-on-theme($alpha: 1)
  @return color(-fab-on-color, $alpha)

@mixin fab-density($density: 0)
  $height: get-density(56px, $density)
  height: $height
  border-radius: $height / 2

  &:not(.mtrl-fab--mini):not(.mtrl-fab--extended)
    width: $height
