.mtrl-button, .mtrl-fab {
  background-color: #ffffff;
  color: #6200ee;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  height: 36px;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0892857143rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
}
.mtrl-button--outlined:not(:focus-visible) {
  border-color: rgba(0, 0, 0, 0.12);
}
.mtrl-button--contained, .mtrl-fab {
  background-color: #6200ee;
  color: white;
}
html[dark] .mtrl-button, html[dark] .mtrl-fab {
  background-color: #121212;
  color: #bb86fc;
}
html[dark] .mtrl-button--outlined:not(:focus-visible) {
  border-color: rgba(255, 255, 255, 0.12);
}
html[dark] .mtrl-button--contained, html[dark] .mtrl-fab {
  background-color: #bb86fc;
  color: black;
}
.mtrl-button:disabled, .mtrl-fab:disabled {
  background-color: rgba(255, 255, 255, 0.12);
  color: rgba(0, 0, 0, 0.38);
  border-color: rgba(0, 0, 0, 0.12);
}
.mtrl-button--contained:disabled, .mtrl-fab:disabled {
  background-color: rgba(0, 0, 0, 0.12);
}
html[dark] .mtrl-button:disabled, html[dark] .mtrl-fab:disabled {
  background-color: rgba(18, 18, 18, 0.12);
  color: rgba(255, 255, 255, 0.38);
  border-color: rgba(255, 255, 255, 0.12);
}
html[dark] .mtrl-button--contained:disabled, html[dark] .mtrl-fab:disabled {
  background-color: rgba(255, 255, 255, 0.12);
}
.mtrl-button::before, .mtrl-fab::before {
  opacity: 0;
}
.mtrl-button:hover::before, .mtrl-fab:hover::before {
  opacity: 0.04;
}
.mtrl-button:focus::before, .mtrl-fab:focus::before {
  opacity: 0.12;
}
.mtrl-button:active::before, .mtrl-fab:active::before {
  opacity: 0.1;
}
.mtrl-button::before, .mtrl-fab::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.mtrl-button::before, .mtrl-fab::before {
  background-color: currentColor;
}
.mtrl-button.mtrl-button--rounded, .mtrl-button--rounded.mtrl-fab {
  border-radius: 18px;
}
.mtrl-button:hover, .mtrl-fab:hover {
  cursor: pointer;
}
.mtrl-button:focus-visible, .mtrl-fab:focus-visible {
  border-color: currentColor;
  outline: 1px solid;
  outline-offset: -4px;
}
.mtrl-button:disabled, .mtrl-fab:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: default;
  pointer-events: none;
}
html[dark] .mtrl-button:disabled::before, html[dark] .mtrl-fab:disabled::before {
  opacity: 0;
}
html[dark] .mtrl-button:disabled:hover::before, html[dark] .mtrl-fab:disabled:hover::before {
  opacity: 0.04;
}
html[dark] .mtrl-button:disabled:focus::before, html[dark] .mtrl-fab:disabled:focus::before {
  opacity: 0.12;
}
html[dark] .mtrl-button:disabled:active::before, html[dark] .mtrl-fab:disabled:active::before {
  opacity: 0.1;
}
.mtrl-button:disabled:hover, .mtrl-fab:disabled:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-button:disabled:focus, .mtrl-fab:disabled:focus {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-button:disabled:active, .mtrl-fab:disabled:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-button--outlined, .mtrl-button--contained, .mtrl-fab, .mtrl-button--raised, .mtrl-button--push {
  padding: 0 16px;
}
.mtrl-button--outlined {
  border-width: 1px;
  border-style: solid;
  border-spacing: 2px;
}
.mtrl-button--outlined:focus-visible {
  outline: none;
}
.mtrl-button--contained, .mtrl-fab {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mtrl-button--contained:hover, .mtrl-fab:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 4;
}
.mtrl-button--contained:focus, .mtrl-fab:focus {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  z-index: 6;
}
.mtrl-button--contained:active, .mtrl-fab:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 8;
}
.mtrl-button__icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  fill: currentColor;
}
html:not([dir=rtl]) .mtrl-button__icon {
  margin-left: -4px;
  margin-right: 8px;
}
html[dir=rtl] .mtrl-button__icon {
  margin-left: 8px;
  margin-right: -4px;
}
html:not([dir=rtl]) .mtrl-button__icon--trailing {
  margin-left: 8px;
  margin-right: -4px;
}
html[dir=rtl] .mtrl-button__icon--trailing {
  margin-left: -4px;
  margin-right: 8px;
}
.mtrl-button--float {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
html[dark] .mtrl-button--float::before {
  opacity: 0;
}
html[dark] .mtrl-button--float:hover::before {
  opacity: 0.04;
}
html[dark] .mtrl-button--float:focus::before {
  opacity: 0.19;
}
html[dark] .mtrl-button--float:active::before {
  opacity: 0.19;
}
.mtrl-button--float:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-button--float:focus {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
}
.mtrl-button--float:active {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 4;
}
.mtrl-button--raised {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
html[dark] .mtrl-button--raised::before {
  opacity: 0.07;
}
html[dark] .mtrl-button--raised:hover::before {
  opacity: 0.13;
}
html[dark] .mtrl-button--raised:focus::before {
  opacity: 0.23;
}
html[dark] .mtrl-button--raised:active::before {
  opacity: 0.22;
}
.mtrl-button--raised:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 4;
}
.mtrl-button--raised:focus {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  z-index: 6;
}
.mtrl-button--raised:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 8;
}
.mtrl-button--unelevated {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
html[dark] .mtrl-button--unelevated::before {
  opacity: 0;
}
html[dark] .mtrl-button--unelevated:hover::before {
  opacity: 0.04;
}
html[dark] .mtrl-button--unelevated:focus::before {
  opacity: 0.12;
}
html[dark] .mtrl-button--unelevated:active::before {
  opacity: 0.1;
}
.mtrl-button--unelevated:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-button--unelevated:focus {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-button--unelevated:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-button--sharp {
  border-radius: 0;
}
.mtrl-button--block {
  display: flex;
  width: 100%;
}
.mtrl-button--block--between {
  justify-content: space-between;
}
.mtrl-button--density-0 {
  height: 36px;
}
.mtrl-button--density-0.mtrl-button--rounded {
  border-radius: 18px;
}
.mtrl-button--density--1 {
  height: 32px;
}
.mtrl-button--density--1.mtrl-button--rounded {
  border-radius: 16px;
}
.mtrl-button--density--2 {
  height: 28px;
}
.mtrl-button--density--2.mtrl-button--rounded {
  border-radius: 14px;
}
.mtrl-button--density--3 {
  height: 24px;
}
.mtrl-button--density--3.mtrl-button--rounded {
  border-radius: 12px;
}

.mtrl-icon-button {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: initial;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
}
html[dark] .mtrl-icon-button::before {
  opacity: 0;
}
html[dark] .mtrl-icon-button:hover::before {
  opacity: 0.04;
}
html[dark] .mtrl-icon-button:focus::before {
  opacity: 0.12;
}
html[dark] .mtrl-icon-button:active::before {
  opacity: 0.1;
}
.mtrl-icon-button:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-icon-button:focus {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-icon-button:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-icon-button:focus-visible {
  outline-offset: -8px;
}
.mtrl-icon-button__icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: currentColor;
}

.mtrl-fab {
  background-color: black;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  z-index: 6;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: initial;
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
}
html[dark] .mtrl-fab {
  background-color: white;
}
html[dark] .mtrl-fab::before {
  opacity: 0.11;
}
html[dark] .mtrl-fab:hover::before {
  opacity: 0.16;
}
html[dark] .mtrl-fab:focus::before {
  opacity: 0.25;
}
html[dark] .mtrl-fab:active::before {
  opacity: 0.24;
}
.mtrl-fab:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 8;
}
.mtrl-fab:focus {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  z-index: 10;
}
.mtrl-fab:active {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  z-index: 12;
}
.mtrl-fab:focus-visible {
  outline-offset: -8px;
}
.mtrl-fab--mini {
  height: 40px;
  width: 40px;
}
.mtrl-fab--extended {
  width: initial;
  height: 48px;
  padding: 0 20px;
  border-radius: 24px;
}
html:not([dir=rtl]) .mtrl-fab--extended .mtrl-fab__icon {
  margin-left: -8px;
  margin-right: 12px;
}
html[dir=rtl] .mtrl-fab--extended .mtrl-fab__icon {
  margin-left: 12px;
  margin-right: -8px;
}
html:not([dir=rtl]) .mtrl-fab--extended .mtrl-fab__icon--trailing {
  margin-left: 12px;
  margin-right: -8px;
}
html[dir=rtl] .mtrl-fab--extended .mtrl-fab__icon--trailing {
  margin-left: -8px;
  margin-right: 12px;
}
.mtrl-fab__icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: currentColor;
}

/*# sourceMappingURL=button.css.map */
