@use "../../design/color/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/spacing" as *
@use "../../design/typography/typography" as *
@use "../../design/usability/accessibility" as *
@use "../components" as *
@use "button_mixins" as *

.mtrl-button
  @include button-theme()
  @include button-density()
  @include elevation(0)
  @include typography(button)
  @include elevation_
  @include unselectable
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  padding: 0 8px
  border-radius: 4px
  border: none
  background-color: button-theme(calc(var(--mtrl-button-bg-opacity-origin, 0) + var(--mtrl-elevation--bg-opacity-dark-boost, 0) + var(--mtrl-button-bg-opacity, 0)))
  color: button-theme()
  outline: none
  white-space: nowrap

  &:not(.mtrl-icon-button):not(.mtrl-fab)
    min-width: 64px

  &:hover
    --mtrl-button-bg-opacity: #{$container-overlay--hovered}
    cursor: pointer

  &:focus
    --mtrl-button-bg-opacity: #{$container-overlay--focused}

  &:active
    --mtrl-button-bg-opacity: #{$container-overlay--pressed}

  &:disabled
    @include elevation(0)
    cursor: default
    pointer-events: none
    background-color: color(surface, $disabled-filled-container)
    color: color(on-surface, $text--disabled)

  &--outlined, &--contained, &--raised
    padding: 0 16px

  &--outlined
    border: 1px solid color(on-surface, $stroke)

  &--stroked
    @extend .mtrl-button--outlined

    &:not(:disabled)
      border-color: currentColor

  &--two-tone
    --mtrl-button-bg-opacity-origin: .12

    &:disabled
      background-color: color(on-surface, $disabled-filled-container)

  &--contained
    @include elevation(2, 4, 6, 8)
    background-color: button-theme(calc(var(--mtrl-button-bg-opacity-origin, 1) - var(--mtrl-button-bg-opacity, 0)))
    color: button-on-theme()

    &:disabled
      background-color: color(on-surface, $disabled-filled-container)

  &__icon
    @include margin-horizontal(-4px, 8px)
    width: 18px
    height: 18px
    font-size: 18px
    fill: currentColor

    &--trailing
      @include margin-horizontal(8px, -4px)

  &--float
    @include elevation(0, 0, 2, 4)

  &--raised
    @include elevation(2, 4, 6, 8)

  &--unelevated
    @include elevation(0, 0, 0, 0)

  &--sharp
    border-radius: 0

  &--block
    display: flex
    width: 100%

    &--between
      justify-content: space-between

  @for $i from 0 through -3
    &--density-#{$i}
      @include button-density($i)


.mtrl-icon-button
  @include elevation(0, 0, 0, 0)
  @include typography(caption)
  width: 48px
  height: 48px
  padding: 0
  border-radius: 50%

  &__icon
    width: 24px
    height: 24px
    font-size: 24px
    fill: currentColor

  &--caption
    flex-direction: column
    width: 56px
    height: 56px

    .mtrl-icon-button__icon
      width: 18px
      height: 18px
      margin-bottom: 4px
      font-size: 18px

  &--square
    border-radius: 4px

  &--tile
    border-radius: 0

  &--diamond
    @extend .mtrl-icon-button--square
    transform: rotate(45deg)

    .mtrl-icon-button__icon
      transform: rotate(-45deg)


.mtrl-fab
  @extend .mtrl-button, .mtrl-button--contained
  @include fab-theme()
  @include fab-density()
  @include elevation(6, 8, 10, 12)
  background-color: fab-theme(calc(var(--mtrl-button-bg-opacity-origin, 1) - var(--mtrl-button-bg-opacity, 0)))
  color: fab-on-theme()
  padding: 0

  &--outlined, &--stroked, &--two-tone
    --mtrl-button-bg-opacity-origin: 0
    background-color: fab-theme(calc(var(--mtrl-button-bg-opacity-origin, 1) + var(--mtrl-button-bg-opacity, 0)))
    color: fab-theme()

  &--outlined, &--stroked
    @include elevation(0, 0, 0, 0)

  &--outlined
    border: 1px solid color(on-surface, $stroke)

  &--stroked
    @extend .mtrl-fab--outlined
    border-color: currentColor

  &--two-tone
    --mtrl-button-bg-opacity-origin: .12

  &--mini
    height: 40px
    width: 40px

  &--extended
    min-width: 64px
    height: 48px
    padding: 0 20px

    .mtrl-fab__icon
      @include margin-horizontal(-8px, 12px)

      &--trailing
        @include margin-horizontal(12px, -8px)

  &__icon
    width: 24px
    height: 24px
    font-size: 24px
    fill: currentColor

  &--regular
    border-radius: 4px

  &--tile
    border-radius: 0

  @for $i from 0 through -3
    &--density-#{$i}
      @include fab-density($i)
