.shadow-container {
  position: relative;
  display: inline-flex;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
  transition-property: filter;
}

.mtrl-button {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0892857143rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-transform: uppercase;
  height: 36px;
  border-radius: 4px;
  --color: rgba(98, 0, 238, 0.1);
  --speed: 2;
  background-image: paint(ripple);
  --ripple-color: var(--color);
  --ripple-speed: var(--speed);
  background-color: #ffffff;
  color: rgba(98, 0, 238, 0.87);
  margin: 4px;
  padding: 0px 8px;
  min-width: 64px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
  border: none;
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 150ms;
}
.mtrl-button::after {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
}
.mtrl-button:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.12);
}
.mtrl-button.mtrl-button--choice {
  background-color: #efe6fd;
}
.mtrl-button:hover {
  background-color: #f9f5fe;
}
.mtrl-button:focus {
  background-color: #ece0fd;
}
.mtrl-button:active {
  background-color: #efe6fd;
}
.mtrl-button:not(:focus-visible) {
  outline: none;
}
.mtrl-button:focus-visible {
  overflow: hidden;
}
.mtrl-button:hover {
  cursor: pointer;
}
.mtrl-button:disabled {
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0.12);
}
.mtrl-button > * {
  position: relative;
}
.mtrl-button--rounded-corners {
  --border-shape: rounded;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-radius: 8px;
  border-radius: 8px;
  --corner-shape: var(--border-shape);
}
.mtrl-button--rounded-corners--outlined {
  --border-color: #6200ee;
  --stroke-color: var(--border-color);
  --stroke-weight: 1px;
  border-image: paint(corner-shape, outlined) 0 fill !important;
}
.mtrl-button--cut-corners {
  --border-shape: cut;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-radius: 8px;
  border-radius: 8px;
  --corner-shape: var(--border-shape);
}
.mtrl-button--cut-corners--outlined {
  --border-color: #6200ee;
  --stroke-color: var(--border-color);
  --stroke-weight: 1px;
  border-image: paint(corner-shape, outlined) 0 fill !important;
}
.mtrl-button--scoop-corners {
  --border-shape: scoop;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-radius: 8px;
  border-radius: 8px;
  --corner-shape: var(--border-shape);
}
.mtrl-button--scoop-corners--outlined {
  --border-color: #6200ee;
  --stroke-color: var(--border-color);
  --stroke-weight: 1px;
  border-image: paint(corner-shape, outlined) 0 fill !important;
}
.mtrl-button--notch-corners {
  --border-shape: notch;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-radius: 8px;
  border-radius: 8px;
  --corner-shape: var(--border-shape);
}
.mtrl-button--notch-corners--outlined {
  --border-color: #6200ee;
  --stroke-color: var(--border-color);
  --stroke-weight: 1px;
  border-image: paint(corner-shape, outlined) 0 fill !important;
}
.mtrl-button--iphonex-corners {
  --border-shape: iphonex;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-radius: 8px;
  border-radius: 8px;
  --corner-shape: var(--border-shape);
}
.mtrl-button--iphonex-corners--outlined {
  --border-color: #6200ee;
  --stroke-color: var(--border-color);
  --stroke-weight: 1px;
  border-image: paint(corner-shape, outlined) 0 fill !important;
}
.mtrl-button--cut-corners-2 {
  -webkit-mask-image: paint(cut-corners, filled);
  --corner-radius: 0px 8px 8px 8px;
}
.mtrl-button--cut-corners-2--outlined {
  --border-color: #6200ee;
  --border-width: 1px;
  --stroke-color: var(--border-color);
  --stroke-weight: var(--border-width);
  border-image: paint(cut-corners, outlined) 0 fill;
}
.mtrl-button--smooth-corners {
  width: 128px !important;
  height: 128px !important;
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 4;
}
.mtrl-button--smooth-corners--1 {
  width: 128px !important;
  height: 128px !important;
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 1;
}
.mtrl-button--polygon {
  -webkit-mask-image: paint(avatar-polygon);
  --avatar-sides: 8;
  --avatar-angle: 0deg;
}
.mtrl-button--background {
  background-image: url(https://css-houdini.rocks/posts/background-properties/lowpoly.jpg);
  list-style-image: url(https://css-houdini.rocks/posts/background-properties/lowpoly.jpg);
  --background-opacity: 0.5;
  --background-rotate: 10deg;
  --background-filter: hue-rotate(var(--hue-rotate)) grayscale(var(--grayscale)) blur(var(--blur));
  --blur: 0px;
  --grayscale: 0%;
  --hue-rotate: -50deg;
  background-image: paint(background);
}
.mtrl-button--outlined {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.mtrl-button:is(.mtrl-button--outlined, .mtrl-button--contained) {
  padding: 0px 16px;
}
.mtrl-button--contained {
  --color: rgba(255, 255, 255, 0.1);
  --speed: 2;
  background-image: paint(ripple);
  --ripple-color: var(--color);
  --ripple-speed: var(--speed);
  background-color: #6200ee;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  color: rgba(255, 255, 255, 0.87);
}
.mtrl-button--contained:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: rgba(119, 119, 119, 0.12);
}
.mtrl-button--contained.mtrl-button--choice {
  background-color: #721af0;
}
.mtrl-button--contained:hover {
  background-color: #680aef;
}
.mtrl-button--contained:focus {
  background-color: #751ff0;
}
.mtrl-button--contained:active {
  background-color: #721af0;
}
.mtrl-button--contained:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 4;
}
.mtrl-button--contained:focus {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  z-index: 6;
}
.mtrl-button--contained:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 8;
}
.mtrl-button--vertical {
  height: 64px;
  padding: 32px 16px;
  flex-direction: column;
}
.mtrl-button--vertical .mtrl-button__icon {
  margin: 0px 0px 8px;
}
.mtrl-button--vertical .mtrl-button__label {
  font-family: Roboto, sans-serif;
  font-size: 0.765625rem;
  font-weight: 500;
  letter-spacing: 0.0892857143rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-transform: uppercase;
}
.mtrl-button--vertical .mtrl-button__label + .mtrl-button__icon {
  margin: 8px 0px 0px;
}
.mtrl-button--vertical.mtrl-button--rounded {
  border-radius: 32px;
  padding: 32px 24px;
}
.mtrl-button--choice {
  border-radius: 8px 8px 0 0;
  --color: rgba(0, 0, 0, 0.1);
  --speed: 2;
  background-image: paint(ripple);
  --ripple-color: var(--color);
  --ripple-speed: var(--speed);
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 16px;
  border-bottom: 2px solid #000;
}
.mtrl-button--choice:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.12);
}
.mtrl-button--choice.mtrl-button--choice {
  background-color: #e6e6e6;
}
.mtrl-button--choice:hover {
  background-color: whitesmoke;
}
.mtrl-button--choice:focus {
  background-color: #e0e0e0;
}
.mtrl-button--choice:active {
  background-color: #e6e6e6;
}
.mtrl-button--choice--active {
  --color: rgba(98, 0, 238, 0.1);
  --speed: 2;
  background-image: paint(ripple);
  --ripple-color: var(--color);
  --ripple-speed: var(--speed);
  background-color: #ffffff;
  color: rgba(98, 0, 238, 0.87);
  border-color: #6200ee;
}
.mtrl-button--choice--active:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.12);
}
.mtrl-button--choice--active.mtrl-button--choice {
  background-color: #efe6fd;
}
.mtrl-button--choice--active:hover {
  background-color: #f9f5fe;
}
.mtrl-button--choice--active:focus {
  background-color: #ece0fd;
}
.mtrl-button--choice--active:active {
  background-color: #efe6fd;
}
.mtrl-button--rounded {
  border-radius: 4px;
  border-radius: 32px;
}
.mtrl-button--block {
  width: 100%;
}
.mtrl-button--transparent {
  --color: rgba(98, 0, 238, 0.1);
  --speed: 2;
  background-image: paint(ripple);
  --ripple-color: var(--color);
  --ripple-speed: var(--speed);
  background-color: transparent;
}
.mtrl-button--transparent:disabled {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.12);
}
.mtrl-button--transparent.mtrl-button--choice {
  background-color: rgba(98, 0, 238, 0.1);
}
.mtrl-button--transparent:hover {
  background-color: rgba(98, 0, 238, 0.04);
}
.mtrl-button--transparent:focus {
  background-color: rgba(98, 0, 238, 0.12);
}
.mtrl-button--transparent:active {
  background-color: rgba(98, 0, 238, 0.1);
}
.mtrl-button--no-touch-target {
  overflow: hidden;
}
.mtrl-button__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mtrl-button__label--sentence-case {
  text-transform: none;
}
.mtrl-button__icon {
  margin-left: -4px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  font-size: 18px;
  fill: currentColor;
}
[dir=rtl] .mtrl-button__icon {
  margin-left: 8px;
  margin-right: -4px;
}
.mtrl-button__label + .mtrl-button__icon {
  margin-left: 8px;
  margin-right: -4px;
}
[dir=rtl] .mtrl-button__label + .mtrl-button__icon {
  margin-left: -4px;
  margin-right: 8px;
}

/*# sourceMappingURL=button.css.map */
