@use "../../design/color/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/ripple" as *
@use "../../design/layout/spacing" as *
@use "../../design/typography/typography" as *
@use "../components" as *
@use "button_mixins" as *

.mtrl-button
  @include button-light-theme($primary, $on-primary)
  @include button-dark-theme($dark-primary, $dark-on-primary)
  @include disabled-button-light-theme($surface, $on-surface)
  @include disabled-button-dark-theme($dark-surface, $dark-on-surface)
  @include ripple_
  @include unselectable
  @include centered-content
  @include button-density($button-density-baseline)
  @include typography(button)
  display: inline-flex
  min-width: 64px
  padding: 0 8px
  border-radius: 4px
  border: none
  outline: none
  white-space: nowrap
  overflow: hidden

  &:hover
    cursor: pointer

  &:focus-visible
    outline: 1px solid
    outline-offset: -4px

  &:disabled
    @include elevation(0)
    cursor: default
    pointer-events: none

  &--outlined, &--stroked, &--two-tone, &--contained, &--toggle, &--raised, &--push
    padding: 0 16px

  &--outlined, &--stroked
    border: 1px solid
    border-spacing: 2px

    &:not(.mtrl-button--toggle--active):focus-visible
      outline: none

  &--contained
    @include elevation(2, 4, 6, 8, $ripple-boost: false)

  &--two-tone-icon
    @extend .mtrl-button--rounded

    .mtrl-button__icon
      border-radius: 50%

      &--leading
        @include margin-start(-16px)

      &--trailing
        @include margin-end(-16px)

  &--toggle
    @extend .mtrl-button--outlined

    &--active
      @extend .mtrl-button--contained, .mtrl-button--unelevated

  &__icon
    @include centered-content
    @include margin-horizontal(-4px, 8px)
    display: inline-flex
    width: 18px
    height: 18px
    font-size: 18px
    fill: currentColor

    &--trailing
      @include margin-horizontal(8px, -4px)

  &--raised
    @include elevation(2, 4, 6, 8)

  &--float
    @include elevation(0, 0, 2, 4)

  &--push
    @include elevation(2, 4, 0, 0)

  &--unelevated
    @include elevation(0, 0, 0, 0)

  &--sharp
    border-radius: 0

  @for $i from 0 through -3
    &--density-#{$i}
      @include button-density(get-button-density($i))

  &--block
    display: flex
    width: 100%

    &--between
      justify-content: space-between
