@use "../../design/color/theme" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/usability/accessibility" as *

$button-theme: --mtrl-button-theme-color
$button-on-theme: --mtrl-button-theme-on-color

@mixin button-theme($theme: primary)
  #{$button-theme}: #{get-color($theme)}
  #{$button-on-theme}: #{get-color(on-#{$theme})}

@function button-theme()
  @return var(#{$button-theme})

@function button-on-theme()
  @return var(#{$button-on-theme})

$button-height: 36px !default

@mixin button-density($density: 0)
  $height: get-density($button-height, $density)
  height: $height

  &.mtrl-button--rounded
    border-radius: $height / 2


$fab-theme: --mtrl-fab-theme-color
$fab-on-theme: --mtrl-fab-theme-on-color

@mixin fab-theme($theme: black)
  #{$fab-theme}: #{get-color($theme)}
  #{$fab-on-theme}: #{get-color(on-#{$theme})}

@function fab-theme()
  @return var(#{$fab-theme})

@function fab-on-theme()
  @return var(#{$fab-on-theme})

$fab-height: 56px !default

@mixin fab-density($density: 0)
  $height: get-density($fab-height, $density)
  height: $height
  border-radius: $height / 2

  &:not(.mtrl-fab--mini):not(.mtrl-fab--extended)
    width: $height
