@use "../../design/theme/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/ripple" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/shape/shape" as *
@use "../../design/typography/typography" as *
@use "../../design/usability/accessibility" as *
@use "../../design/usability/bidirectionality" as *

$corner-radius: 4px
$stroke-width: 1px

$ripple-color: theme-prop(primary)
$container-color: theme-prop(surface)
$disabled-container-color: theme-prop(surface, $disabled-filled-container)
$ink-color: theme-prop(primary, $text--high-emphasis)
$disabled-ink-color: theme-prop(on-surface, $text--disabled)
$stroke-color: theme-prop(on-surface, $stroke)
$dark-stroke-color: theme-prop(primary)

$contained-ripple-color: theme-prop(on-primary)
$contained-container-color: theme-prop(primary)
$disabled-contained-container-color: theme-prop(on-surface, $disabled-filled-container)
$contained-ink-color: theme-prop(on-primary, $text--high-emphasis)

.mtrl-button
  @include ripple_
  @include ripple(prop(button-ripple-color, $ripple-color))
  @include touch-target
  @include corner(prop(button-corner-radius, $corner-radius))
  @include height(prop(button-height, 36px))
  @include padding(0, 2)
  @include typography_(button)
  background-color: prop(button-container-color, $container-color)
  color: prop(button-ink-color, $ink-color)
  min-width: 64px
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
  white-space: nowrap
  border: none
  -webkit-tap-highlight-color: transparent

  &:hover
    cursor: pointer

  &:not(:focus-visible)
    outline: none

  &:focus-visible
    overflow: hidden

  &:disabled
    @include elevation(0)
    color: prop(button-disabled-ink-color, $disabled-ink-color)
    background-color: prop(button-disabled-container-color, $disabled-container-color)
    cursor: default
    pointer-events: none

  &--outlined, &--contained, &--float, &--raised
    @include padding(0, 4)

  &--outlined
    @include stroke_
    @include light-theme
      @include stroke(prop(button-stroke-width, $stroke-width), prop(button-stroke-color, $stroke-color))
    @include dark-theme
      &:focus
        @include stroke($color: prop(button-dark-stroke-color, $dark-stroke-color))

  &--contained
    @include ripple(prop(button-ripple-color, $contained-ripple-color))
    @include elevation(2, 4, 6, 8)
    background-color: prop(button-container-color, $contained-container-color)
    color: prop(button-ink-color, $contained-ink-color)

    &:disabled
      background-color: prop(button-disabled-container-color, $disabled-contained-container-color)

  &--dry
    @include ripple()

  &--split .mtrl-button__icon
    @include height(prop(button-height, 36px))

    &--leading
      @include margin-horizontal(-2, 3)
      @include padding-horizontal(0, 2)
      @include ltr
        border-right: 1px solid theme-prop(on-surface, $stroke)
      @include rtl
        border-left: 1px solid theme-prop(on-surface, $stroke)

    &--trailing
      @include margin-horizontal(3, -2)
      @include padding-horizontal(2, 0)
      @include ltr
        border-left: 1px solid theme-prop(on-surface, $stroke)
      @include rtl
        border-right: 1px solid theme-prop(on-surface, $stroke)

  &--vertical
    @include height(prop(button-height, 56px))
    flex-direction: column

    .mtrl-button__icon
      @include margin-horizontal(0)

      &--leading
        margin-bottom: 4px

      &--trailing
        margin-top: 4px

    .mtrl-button__label
      @include typography(button, 0.875)


  &--two-column
    @include height(prop(button-height, 48px))

    .mtrl-button__label
      flex-direction: column

  &--float
    @include elevation(0, 0, 2, 4)

  &--raised
    @include elevation(2, 4, 6, 8)

  &--unelevated
    @include elevation(0, 0, 0, 0)

  &--rounded
    @include corner(rounded)

  &--tile
    @include corner(0)

  &--block
    width: 100%

    &--between
      justify-content: space-between

  &__label
    display: inline-flex
    align-items: center
    justify-content: center
    vertical-align: middle

    &--uppercase
      text-transform: uppercase

    &--sentence-case
      text-transform: none

    &--primary
      text-transform: none

    &--secondary
      @include typography(caption)
      color: theme-prop(primary, $text--medium-emphasis)
      text-transform: none

  &__icon
    width: 18px
    height: 18px
    display: inline-flex
    align-items: center
    justify-content: center
    vertical-align: middle
    color: prop(button-icon-color, prop(button-ink-color))
    font-size: 18px
    fill: currentColor

    &--leading
      @include margin-horizontal(-1, 2)

    &--trailing
      @include margin-horizontal(2, -1)
