.mtrl-button--primary.mtrl-button {
  color: #6200ee;
}
.mtrl-button--primary.mtrl-button--contained {
  background-color: #6200ee;
  color: white;
}
html[dark] .mtrl-button--primary.mtrl-button {
  color: #bb86fc;
}
html[dark] .mtrl-button--primary.mtrl-button--contained {
  background-color: #bb86fc;
  color: black;
}

.mtrl-button--primary-variant.mtrl-button {
  color: #3700b3;
}
.mtrl-button--primary-variant.mtrl-button--contained {
  background-color: #3700b3;
  color: white;
}
html[dark] .mtrl-button--primary-variant.mtrl-button {
  color: #3700b3;
}
html[dark] .mtrl-button--primary-variant.mtrl-button--contained {
  background-color: #3700b3;
  color: white;
}

.mtrl-button--secondary.mtrl-button {
  color: #03dac6;
}
.mtrl-button--secondary.mtrl-button--contained {
  background-color: #03dac6;
  color: black;
}
html[dark] .mtrl-button--secondary.mtrl-button {
  color: #03dac6;
}
html[dark] .mtrl-button--secondary.mtrl-button--contained {
  background-color: #03dac6;
  color: black;
}

.mtrl-button--secondary-variant.mtrl-button {
  color: #018786;
}
.mtrl-button--secondary-variant.mtrl-button--contained {
  background-color: #018786;
  color: white;
}
html[dark] .mtrl-button--secondary-variant.mtrl-button {
  color: #03dac6;
}
html[dark] .mtrl-button--secondary-variant.mtrl-button--contained {
  background-color: #03dac6;
  color: black;
}

.mtrl-button--background.mtrl-button {
  color: #ffffff;
}
.mtrl-button--background.mtrl-button--contained {
  background-color: #ffffff;
  color: black;
}
html[dark] .mtrl-button--background.mtrl-button {
  color: #121212;
}
html[dark] .mtrl-button--background.mtrl-button--contained {
  background-color: #121212;
  color: white;
}

.mtrl-button--surface.mtrl-button {
  color: #ffffff;
}
.mtrl-button--surface.mtrl-button--contained {
  background-color: #ffffff;
  color: black;
}
html[dark] .mtrl-button--surface.mtrl-button {
  color: #121212;
}
html[dark] .mtrl-button--surface.mtrl-button--contained {
  background-color: #121212;
  color: white;
}

.mtrl-button--error.mtrl-button {
  color: #b00020;
}
.mtrl-button--error.mtrl-button--contained {
  background-color: #b00020;
  color: white;
}
html[dark] .mtrl-button--error.mtrl-button {
  color: #cf6679;
}
html[dark] .mtrl-button--error.mtrl-button--contained {
  background-color: #cf6679;
  color: white;
}

.mtrl-button--red.mtrl-button {
  color: #f44336;
}
.mtrl-button--red.mtrl-button--contained {
  background-color: #f44336;
  color: white;
}

.mtrl-button--pink.mtrl-button {
  color: #e91e63;
}
.mtrl-button--pink.mtrl-button--contained {
  background-color: #e91e63;
  color: white;
}

.mtrl-button--purple.mtrl-button {
  color: #9c27b0;
}
.mtrl-button--purple.mtrl-button--contained {
  background-color: #9c27b0;
  color: white;
}

.mtrl-button--deep-purple.mtrl-button {
  color: #673ab7;
}
.mtrl-button--deep-purple.mtrl-button--contained {
  background-color: #673ab7;
  color: white;
}

.mtrl-button--indigo.mtrl-button {
  color: #3f51b5;
}
.mtrl-button--indigo.mtrl-button--contained {
  background-color: #3f51b5;
  color: white;
}

.mtrl-button--blue.mtrl-button {
  color: #2196f3;
}
.mtrl-button--blue.mtrl-button--contained {
  background-color: #2196f3;
  color: white;
}

.mtrl-button--light-blue.mtrl-button {
  color: #03a9f4;
}
.mtrl-button--light-blue.mtrl-button--contained {
  background-color: #03a9f4;
  color: black;
}

.mtrl-button--cyan.mtrl-button {
  color: #00bcd4;
}
.mtrl-button--cyan.mtrl-button--contained {
  background-color: #00bcd4;
  color: black;
}

.mtrl-button--teal.mtrl-button {
  color: #009688;
}
.mtrl-button--teal.mtrl-button--contained {
  background-color: #009688;
  color: white;
}

.mtrl-button--green.mtrl-button {
  color: #4caf50;
}
.mtrl-button--green.mtrl-button--contained {
  background-color: #4caf50;
  color: black;
}

.mtrl-button--light-green.mtrl-button {
  color: #8bc34a;
}
.mtrl-button--light-green.mtrl-button--contained {
  background-color: #8bc34a;
  color: black;
}

.mtrl-button--lime.mtrl-button {
  color: #cddc39;
}
.mtrl-button--lime.mtrl-button--contained {
  background-color: #cddc39;
  color: black;
}

.mtrl-button--yellow.mtrl-button {
  color: #ffeb3b;
}
.mtrl-button--yellow.mtrl-button--contained {
  background-color: #ffeb3b;
  color: black;
}

.mtrl-button--amber.mtrl-button {
  color: #ffc107;
}
.mtrl-button--amber.mtrl-button--contained {
  background-color: #ffc107;
  color: black;
}

.mtrl-button--orange.mtrl-button {
  color: #ff9800;
}
.mtrl-button--orange.mtrl-button--contained {
  background-color: #ff9800;
  color: black;
}

.mtrl-button--deep-orange.mtrl-button {
  color: #ff5722;
}
.mtrl-button--deep-orange.mtrl-button--contained {
  background-color: #ff5722;
  color: white;
}

.mtrl-button--brown.mtrl-button {
  color: #795548;
}
.mtrl-button--brown.mtrl-button--contained {
  background-color: #795548;
  color: white;
}

.mtrl-button--grey.mtrl-button {
  color: #9e9e9e;
}
.mtrl-button--grey.mtrl-button--contained {
  background-color: #9e9e9e;
  color: black;
}

.mtrl-button--blue-grey.mtrl-button {
  color: #607d8b;
}
.mtrl-button--blue-grey.mtrl-button--contained {
  background-color: #607d8b;
  color: white;
}

.mtrl-button--black.mtrl-button {
  color: black;
}
.mtrl-button--black.mtrl-button--contained {
  background-color: black;
  color: white;
}

.mtrl-button--white.mtrl-button {
  color: white;
}
.mtrl-button--white.mtrl-button--contained {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=button_theme.css.map */
