@use "../../design/color/theme" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/usability/accessibility" as *

@mixin button-theme($theme: primary)
  color: get-theme($theme)

  &--contained
    background-color: get-theme($theme)
    color: get-theme(on-#{$theme})

$button-height: 36px !default

@mixin button-density($density: 0)
  $height: get-density($button-height, $density)
  height: $height

  &.mtrl-button--rounded
    border-radius: $height / 2


@mixin fab-theme_($color, $on-color: on-color($color))
  background-color: $color
  color: $on-color

@mixin fab-theme($color)
  @include fab-theme_(get-color($color))

  html[dark] &
    @include fab-theme_(get-color($color, true))


$fab-height: 56px !default

@mixin fab-density($density: 0)
  $height: get-density($fab-height, $density)
  height: $height
  border-radius: $height / 2

  &:not(&--mini):not(&--extended)
    width: $height
