@use "../../design/theme/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/ripple" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/shape/shape" as *
@use "../../design/typography/typography" as *
@use "../../design/usability/accessibility" as *
@use "../components" as *

$corner-radius: 50%

$ripple-color: theme-prop(surface)
$container-color: theme-prop(on-surface)
$ink-color: theme-prop(surface, $text--high-emphasis)

.mtrl-fab
  @include ripple_
  @include ripple(prop(fab-ripple-color, $ripple-color))
  @include touch-target
  @include elevation(6, 8, 10, 12)
  @include corner(prop(fab-corner-radius, $corner-radius))
  @include height(prop(fab-height, 56px))
  @include padding(0)
  @include typography(button)
  @include unselectable
  @include centered-content
  @include accessible-border
  background-color: prop(fab-container-color, $container-color)
  color: prop(fab-ink-color, $ink-color)
  width: 56px
  position: relative
  white-space: nowrap
  border: none

  &:hover
    cursor: pointer

  &--mini
    @include height(prop(fab-height, 40px))
    width: 40px

  &--extended
    @include height(prop(fab-height, 48px))
    @include corner(calc(#{prop(fab-height, prop(component-height))} / 2))
    width: initial

    .mtrl-fab__icon
      @include margin-horizontal(12px, -8px)

      &--trailing
        @include margin-horizontal(-8px, 12px)

    .mtrl-fab__label
      @include margin-horizontal(20px)

  &__icon
    width: 24px
    height: 24px
    font-size: 24px
    color: prop(button-icon-color, prop(button-ink-color))
    fill: currentColor
