@use "../../design/theme/theme" as *
@use "../../design/interaction/ripple" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/shape/shape" as *
@use "../../design/usability/accessibility" as *
@use "../components" as *

.mtrl-icon-button
  @include ripple_
  @include ripple(theme-prop(on-surface))
  @include touch-target
  @include corner(50%)
  @include height(48px)
  @include padding(0)
  @include unselectable
  @include centered-content
  @include accessible-border
  color: theme-prop(on-surface, $icon--active)
  width: 48px
  background-color: theme-prop(surface)
  position: relative
  border: none

  &:hover
    cursor: pointer

  &:disabled
    color: theme-prop(on-surface, $text--disabled)
    background-color: theme-prop(surface, $disabled-filled-container)
    cursor: default
    pointer-events: none

  &--outlined
    @include stroke_
    @include light-theme
      @include stroke(1px, theme-prop(on-surface, $stroke))
    @include dark-theme
      &:focus
        @include stroke(1px, theme-prop(on-surface))

  &--contained
    @include ripple(theme-prop(surface))
    color: theme-prop(surface, $text--high-emphasis)
    background-color: theme-prop(on-surface)

    &:disabled
      background-color: theme-prop(on-surface, $disabled-filled-container)

  &--tile
    @include corner(0)

  &__icon
    width: 24px
    height: 24px
    font-size: 24px
    fill: currentColor
