@use "../../design/color/theme" as *
@use "../../design/interaction/ripple" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/shape/shape" as *
@use "../../design/usability/accessibility" as *

.mtrl-icon-button
  @include ripple($surface, $primary)
  @include touch-target()
  @include corner(50%)
  @include height(12)
  @include padding(3)
  @include color($primary, $icon--active)
  width: 48px
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  user-select: none
  border: none
  outline: none
  -webkit-tap-highlight-color: transparent

  &:hover
    cursor: pointer

  &:disabled
    @include color($on-surface, $text--disabled)
    background-color: rgba($surface, $disabled-filled-container)
    cursor: default
    pointer-events: none

  &--outlined
    @include stroke(1px, rgba($on-surface, $stroke))
    @include dark-theme
      .mtrl-button--outlined:focus
        @include stroke(1px, rgb($primary))

  &--contained
    @include ripple($primary, $on-primary)
    @include color($on-primary, $text--high-emphasis)

    &:disabled
      background-color: rgba($on-surface, $disabled-filled-container)

  &--tile
    @include corner(0)

  &__icon
    width: 24px
    height: 24px
    font-size: 24px
    fill: currentColor
