@use "../../design/color/theme" as *
@use "../../design/theme/theme" as *
@use "../../design/interaction/ripple" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/shape/shape" as *
@use "../../design/usability/accessibility" as *

.mtrl-icon-button
  @include ripple_
  @include ripple(rgb($primary))
  @include touch-target
  @include corner(50%)
  @include stroke($color: transparent)
  @include height(12)
  @include padding(3)
  color: rgba($primary, $icon--active)
  width: 48px
  background-color: $surface
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  user-select: none
  border: none
  outline: none
  -webkit-tap-highlight-color: transparent

  &:hover
    cursor: pointer

  &:disabled
    color: rgba($on-surface, $text--disabled)
    background-color: rgba($surface, $disabled-filled-container)
    cursor: default
    pointer-events: none

  &--outlined
    @include stroke_
    @include stroke(1px, rgba($on-surface, $stroke))
    @include dark-theme
      &:focus
        @include stroke(1px, rgb($primary))

  &--contained
    @include ripple(rgb($on-primary))
    @include dark-theme
      @include ripple(prop(button-ripple-color, #ffffff))
    color: rgba($on-primary, $text--high-emphasis)
    background-color: rgb($primary)

    &:disabled
      background-color: rgba($on-surface, $disabled-filled-container)

  &--tile
    @include corner(0)

  &__icon
    width: 24px
    height: 24px
    font-size: 24px
    fill: currentColor
