@use "sass:color"
@use "../../design/color/contrast-tone" as *
@use "../../design/color/light-theme" as *
@use "../ripple/ripple" as *

.mtrl-toggle-button__container
  height: 48px
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  border: 1px solid rgba(#00001e, 12%)

.mtrl-toggle-button
  width: 48px
  height: 48px
  margin: 0
  padding: 12px
  border-radius: 0
  color: $on-surface
  background-color: $surface
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  user-select: none
  white-space: nowrap
  font-size: 24px
  fill: currentColor
  outline: none
  border: none
  -webkit-tap-highlight-color: transparent

  &:not(:last-child)
    border-right: 1px solid rgba(#00001e, 12%)

  &:not(:disabled)
    @include ripple(rgba($on-surface, 16%))

  &:disabled
    cursor: default
    pointer-events: none
    color: rgba($on-surface, 38%)
    background-color: $surface

  &:hover
    cursor: pointer

  @if tone($surface) == light
    &:hover
      background-color: rgba($on-surface, 4%)
    &:focus
      background-color: rgba($on-surface, 12%)
    &:active
      background-color: rgba($on-surface, 16%)
  @else
    &:hover
      background-color: rgba($on-surface, 100% - 8%)
    &:focus
      background-color: rgba($on-surface, 100% - 24%)
    &:active
      background-color: rgba($on-surface, 100% - 32%)

  &:focus
    border: 1px solid rgba(#00001e, 24%)

.mtrl-toggle-button__icon
  width: 24px
  height: 24px
  font-size: 24px
  fill: currentColor
