@use "sass:color"
@use "../../design/color/light-theme" as *
@use "../../design/usability/accessibility" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/typography/typography" as *
@use "../ripple/ripple" as *

.mtrl-list
  @include elevation(8)
  width: 360px
  padding: 8px 32px 8px 0
  border-radius: 4px
  background-color: $surface
  display: inline-flex
  flex-direction: column
  user-select: none

  &:not(:focus-visible)
    outline: none

.mtrl-list-item
  min-height: 48px
  width: 100%
  padding: 0 16px
  display: inline-flex
  align-items: center
  overflow: hidden
  transition: background-color 150ms cubic-bezier(0.77, 0, 0.175, 1)

  &:hover
    cursor: pointer
    background-color: rgba($on-surface, $container-overlay--hovered)

  &:focus
    background-color: rgba($on-surface, $container-overlay--focused)

  &:active
    background-color: rgba($on-surface, $container-overlay--pressed)

  &:not(.mtrl-list-item--disabled)
    @include ripple(rgba($on-surface, $container-overlay--pressed))

  &.mtrl-list-item--disabled
    cursor: default
    pointer-events: none
    color: rgba($on-surface, $disabled-text-color)


.mtrl-list-item__supporting-visuals--icon
  width: 24px
  height: 24px
  margin: 16px 32px 16px 0
  color: $primary

.mtrl-list-item__supporting-visuals--avatar
  width: 40px
  height: 40px
  border-radius: 50%
  margin: 8px 16px 8px 0

.mtrl-list-item__supporting-visuals--square
  width: 56px
  height: 56px
  margin: 8px 16px 8px 0

.mtrl-list-item__supporting-visuals--media
  width: 100px
  height: 56px
  margin: 8px 16px 8px -16px


.mtrl-list-item__primary-text
  display: inline-flex
  flex-direction: column
  margin-right: 16px

.mtrl-list-item__text
  @include typography(body1)
  color: rgba($on-surface, $text--high-emphasis)
  text-wrap: none

.mtrl-list-item__text--primary
  @include typography(subtitle1)
  color: rgba($on-surface, $text--high-emphasis)
  white-space: nowrap

.mtrl-list-item__text--secondary
  @include typography(subtitle2)
  color: rgba($on-surface, $text--medium-emphasis)
  margin-top: 4px
  white-space: nowrap

.mtrl-list-item__text--overline
  @include typography(overline)
  color: rgba($on-surface, $text--medium-emphasis)
  margin-bottom: 4px
  white-space: nowrap

.mtrl-list-item__meta-data
  width: 24px
  height: 24px
  margin-left: auto

.mtrl-list-item__list-control
  width: 24px
  height: 24px
  margin-left: auto

.mtrl-list-item__list-control--left
  margin-left: 0
  margin-right: 32px


.mtrl-list--two-line
  .mtrl-list-item
    min-height: 64px
    width: 100%
    padding: 0 16px

  .mtrl-list-item__supporting-visuals--icon
    align-self: start
    margin: 16px 32px 32px 0

  .mtrl-list-item__supporting-visuals--avatar
    margin: 16px 16px 16px 0

  .mtrl-list-item__supporting-visuals--square
    width: 40px
    height: 40px
    margin: 16px 16px 16px 0

  .mtrl-list-item__text--secondary
    white-space: nowrap


.mtrl-list--three-line
  .mtrl-list-item
    height: 88px
    width: 100%
    padding: 0 16px
    align-items: flex-start

  .mtrl-list-item__supporting-visuals--icon
    align-self: start
    margin: 16px 32px 0 0

  .mtrl-list-item__supporting-visuals--avatar
    margin: 16px 16px 0 0

  .mtrl-list-item__supporting-visuals--square
    width: 40px
    height: 40px
    margin: 16px 16px 0 0

  .mtrl-list-item__supporting-visuals--media
    margin: 16px 16px 8px -16px

  .mtrl-list-item__text--primary, .mtrl-list-item__text--overline
    margin-top: 16px

  .mtrl-list-item__text--overline + .mtrl-list-item__text--primary
    margin-top: 0
    margin-bottom: 4px

  .mtrl-list-item__text--secondary
    white-space: initial

  .mtrl-list-item__meta-data, .mtrl-list-item__list-control
    margin-top: 16px
