:root {
    --mtrl-theme-primary: 98, 0, 238;
    --mtrl-theme-primary-variant: 55, 0, 179;
    --mtrl-theme-secondary: 3, 218, 198;
    --mtrl-theme-secondary-variant: 1, 135, 134;
    --mtrl-theme-surface: 255, 255, 255;
    --mtrl-theme-on-primary: 255, 255, 255;
    --mtrl-theme-on-primary-variant: 255, 255, 255;
    --mtrl-theme-on-secondary: 0, 0, 0;
    --mtrl-theme-on-secondary-variant: 255, 255, 255;
    --mtrl-theme-on-surface: 0, 0, 0;
    --mtrl-dark-theme-primary: 187, 134, 252;
    --mtrl-dark-theme-primary-variant: 55, 0, 179;
    --mtrl-dark-theme-secondary: 3, 218, 198;
    --mtrl-dark-theme-surface: 18, 18, 18;
    --mtrl-dark-theme-on-primary: 0, 0, 0;
    --mtrl-dark-theme-on-primary-variant: 255, 255, 255;
    --mtrl-dark-theme-on-secondary: 0, 0, 0;
    --mtrl-dark-theme-on-surface: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
    :root {
        --mtrl-theme-primary: 98, 0, 238;
        --mtrl-theme-primary-variant: 55, 0, 179;
        --mtrl-theme-secondary: 3, 218, 198;
        --mtrl-theme-secondary-variant: 1, 135, 134;
        --mtrl-theme-surface: 255, 255, 255;
        --mtrl-theme-on-primary: 255, 255, 255;
        --mtrl-theme-on-primary-variant: 255, 255, 255;
        --mtrl-theme-on-secondary: 0, 0, 0;
        --mtrl-theme-on-secondary-variant: 255, 255, 255;
        --mtrl-theme-on-surface: 0, 0, 0;
    }
}

html[light] {
    --mtrl-theme-primary: 98, 0, 238;
    --mtrl-theme-primary-variant: 55, 0, 179;
    --mtrl-theme-secondary: 3, 218, 198;
    --mtrl-theme-secondary-variant: 1, 135, 134;
    --mtrl-theme-surface: 255, 255, 255;
    --mtrl-theme-on-primary: 255, 255, 255;
    --mtrl-theme-on-primary-variant: 255, 255, 255;
    --mtrl-theme-on-secondary: 0, 0, 0;
    --mtrl-theme-on-secondary-variant: 255, 255, 255;
    --mtrl-theme-on-surface: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --mtrl-theme-primary: var(--mtrl-dark-theme-primary);
        --mtrl-theme-primary-variant: var(--mtrl-dark-theme-primary-variant);
        --mtrl-theme-secondary: var(--mtrl-dark-theme-secondary);
        --mtrl-theme-surface: var(--mtrl-dark-theme-surface);
        --mtrl-theme-on-primary: var(--mtrl-dark-theme-on-primary);
        --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-on-primary-variant);
        --mtrl-theme-on-secondary: var(--mtrl-dark-theme-on-secondary-variant);
        --mtrl-theme-on-surface: var(--mtrl-dark-theme-on-surface);
    }
}

html[dark] {
    --mtrl-theme-primary: var(--mtrl-dark-theme-primary);
    --mtrl-theme-primary-variant: var(--mtrl-dark-theme-primary-variant);
    --mtrl-theme-secondary: var(--mtrl-dark-theme-secondary);
    --mtrl-theme-surface: var(--mtrl-dark-theme-surface);
    --mtrl-theme-on-primary: var(--mtrl-dark-theme-on-primary);
    --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-on-primary-variant);
    --mtrl-theme-on-secondary: var(--mtrl-dark-theme-on-secondary-variant);
    --mtrl-theme-on-surface: var(--mtrl-dark-theme-on-surface);
}

/*# sourceMappingURL=material.css.map */
