@use "../color/theme" as *
@use "../usability/accessibility" as *
@use "theme" as *

\:root
  --mtrl-theme-primary: #{hex2rgb($primary)}
  --mtrl-theme-primary-variant: #{hex2rgb($primary-variant)}
  --mtrl-theme-secondary: #{hex2rgb($secondary)}
  --mtrl-theme-secondary-variant: #{hex2rgb($secondary-variant)}
  --mtrl-theme-background: #{hex2rgb($background)}
  --mtrl-theme-surface: #{hex2rgb($surface)}
  --mtrl-theme-error: #{hex2rgb($error)}
  --mtrl-theme-on-primary: #{hex2rgb($on-primary)}
  --mtrl-theme-on-primary-variant: #{hex2rgb($on-primary-variant)}
  --mtrl-theme-on-secondary: #{hex2rgb($on-secondary)}
  --mtrl-theme-on-secondary-variant: #{hex2rgb($on-secondary-variant)}
  --mtrl-theme-on-background: #{hex2rgb($on-background)}
  --mtrl-theme-on-surface: #{hex2rgb($on-surface)}
  --mtrl-theme-on-error: #{hex2rgb($on-error)}

  --mtrl-dark-theme-primary: #{hex2rgb($dark--primary)}
  --mtrl-dark-theme-primary-variant: #{hex2rgb($dark--primary-variant)}
  --mtrl-dark-theme-secondary: #{hex2rgb($dark--secondary)}
  --mtrl-dark-theme-background: #{hex2rgb($dark--background)}
  --mtrl-dark-theme-surface: #{hex2rgb($dark--surface)}
  --mtrl-dark-theme-error: #{hex2rgb($dark--error)}
  --mtrl-dark-theme-on-primary: #{hex2rgb($dark--on-primary)}
  --mtrl-dark-theme-on-primary-variant: #{hex2rgb($dark--on-primary-variant)}
  --mtrl-dark-theme-on-secondary: #{hex2rgb($dark--on-secondary)}
  --mtrl-dark-theme-on-background: #{hex2rgb($dark--on-background)}
  --mtrl-dark-theme-on-surface: #{hex2rgb($dark--on-surface)}
  --mtrl-dark-theme-on-error: #{hex2rgb($dark--on-error)}

html[dark]
  --mtrl-theme-primary: var(--mtrl-dark-theme-primary)
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-primary-variant)
  --mtrl-theme-secondary: var(--mtrl-dark-theme-secondary)
  --mtrl-theme-background: var(--mtrl-dark-theme-background)
  --mtrl-theme-surface: var(--mtrl-dark-theme-surface)
  --mtrl-theme-error: var(--mtrl-dark-theme-error)
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-on-primary)
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-on-primary-variant)
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-on-secondary-variant)
  --mtrl-theme-on-background: var(--mtrl-dark-theme-on-background)
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-on-surface)
  --mtrl-theme-on-error: var(--mtrl-dark-theme-on-error)
