@use "../color/theme" as *
@use "../usability/accessibility" as *
@use "theme" as *

// https://material.io/design/color/the-color-system.html

$primary: $primary !default
$primary-variant: $primary-variant !default
$secondary: $secondary !default
$secondary-variant: $secondary-variant !default
$background: $background !default
$surface: $surface !default
$error: $error !default

$on-primary: if(contrast-tone($primary) == "dark", #000, #fff)
$on-primary-variant: if(contrast-tone($primary-variant) == "dark", #000, #fff)
$on-secondary: if(contrast-tone($secondary) == "dark", #000, #fff)
$on-secondary-variant: if(contrast-tone($secondary-variant) == "dark", #000, #fff)
$on-background: if(contrast-tone($background) == "dark", #000, #fff)
$on-surface: if(contrast-tone($surface) == "dark", #000, #fff)
$on-error: if(contrast-tone($error) == "dark", #000, #fff)

$dark--primary: $dark--primary !default
$dark--primary-variant: $dark--primary-variant !default
$dark--dark-primary: $dark--dark-primary !default
$dark--secondary: $dark--secondary !default
$dark--background: $dark--background !default
$dark--surface: $dark--surface !default
$dark--error: $dark--error !default

$dark--on-primary: if(contrast-tone($dark--primary) == "dark", #000, #fff)
$dark--on-primary-variant: if(contrast-tone($dark--primary-variant) == "dark", #000, #fff)
$dark--on-secondary: if(contrast-tone($dark--secondary) == "dark", #000, #fff)
$dark--on-background: if(contrast-tone($dark--background) == "dark", #000, #fff)
$dark--on-surface: if(contrast-tone($dark--surface) == "dark", #000, #fff)
$dark--on-error: if(contrast-tone($dark--error) == "dark", #000, #fff)


\:root
  --mtrl-theme-primary: #{hex2rgb($primary)}
  --mtrl-theme-primary-variant: #{hex2rgb($primary-variant)}
  --mtrl-theme-secondary: #{hex2rgb($secondary)}
  --mtrl-theme-secondary-variant: #{hex2rgb($secondary-variant)}
  --mtrl-theme-surface: #{hex2rgb($surface)}
  --mtrl-theme-on-primary: #{hex2rgb($on-primary)}
  --mtrl-theme-on-primary-variant: #{hex2rgb($on-primary-variant)}
  --mtrl-theme-on-secondary: #{hex2rgb($on-secondary)}
  --mtrl-theme-on-secondary-variant: #{hex2rgb($on-secondary-variant)}
  --mtrl-theme-on-surface: #{hex2rgb($on-surface)}

  --mtrl-dark-theme-primary: #{hex2rgb($dark--primary)}
  --mtrl-dark-theme-primary-variant: #{hex2rgb($dark--primary-variant)}
  --mtrl-dark-theme-secondary: #{hex2rgb($dark--secondary)}
  --mtrl-dark-theme-surface: #{hex2rgb($dark--surface)}
  --mtrl-dark-theme-on-primary: #{hex2rgb($dark--on-primary)}
  --mtrl-dark-theme-on-primary-variant: #{hex2rgb($dark--on-primary-variant)}
  --mtrl-dark-theme-on-secondary: #{hex2rgb($dark--on-secondary)}
  --mtrl-dark-theme-on-surface: #{hex2rgb($dark--on-surface)}

@media (prefers-color-scheme: dark)
  \:root
    --mtrl-theme-primary: var(--mtrl-dark-theme-primary)
    --mtrl-theme-primary-variant: var(--mtrl-dark-theme-primary-variant)
    --mtrl-theme-secondary: var(--mtrl-dark-theme-secondary)
    --mtrl-theme-surface: var(--mtrl-dark-theme-surface)
    --mtrl-theme-on-primary: var(--mtrl-dark-theme-on-primary)
    --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-on-primary)
    --mtrl-theme-on-secondary: var(--mtrl-dark-theme-on-secondary-variant)
    --mtrl-theme-on-surface: var(--mtrl-dark-theme-on-surface)

html[dark]
  --mtrl-theme-primary: var(--mtrl-dark-theme-primary)
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-primary-variant)
  --mtrl-theme-secondary: var(--mtrl-dark-theme-secondary)
  --mtrl-theme-surface: var(--mtrl-dark-theme-surface)
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-on-primary)
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-on-primary)
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-on-secondary-variant)
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-on-surface)
