// https://material.io/design/typography/the-type-system.html

$weight: (thin: 100, light: 300, regular: 400, medium: 500, bold: 700, black: 900)

$type-face: (headline1: roboto, headline2: roboto, headline3: roboto, headline4: roboto, headline5: roboto, headline6: roboto, subtitle1: roboto, subtitle2: roboto, body1: roboto, body2: roboto, button: roboto, caption: roboto, overline: roboto)
$font: (headline1: ligheadlinet, headline2: ligheadlinet, headline3: regular, headline4: regular, headline5: regular, headline6: medium, subtitle1: regular, subtitle2: medium, body1: regular, body2: regular, button: medium, caption: regular, overline: regular)
$size: (headline1: 96, headline2: 60, headline3: 48, headline4: 34, headline5: 24, headline6: 20, subtitle1: 16, subtitle2: 14, body1: 16, body2: 14, button: 14, caption: 12, overline: 10)
$case: (headline1: sentence, headline2: sentence, headline3: sentence, headline4: sentence, headline5: sentence, headline6: sentence, subtitle1: sentence, subtitle2: sentence, body1: sentence, body2: sentence, button: all_caps, caption: sentence, overline: all_caps)
$letter-spacing: (headline1: -1.5, headline2: -0.5, headline3: 0, headline4: 0.25, headline5: 0, headline6: 0.15, subtitle1: 0.15, subtitle2: 0.1, body1: 0.5, body2: 0.25, button: 1.25, caption: 0.4, overline: 1.5)


@function font-size($size)
  @return $size / 16 * 1rem

@function letter-spacing($letter-spacing, $size)
  @return $letter-spacing / $size * 1rem


@mixin typography_($scale-category, $scale: 1)
  $font-size: map-get($size, $scale-category)
  font-family: Roboto, sans-serif
  font-size: font-size($font-size) * $scale
  font-weight: map-get($weight, map-get($font, $scale-category))
  letter-spacing: letter-spacing(map-get($letter-spacing, $scale-category), $font-size)
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  @if map-get($case, $scale-category) == sentence
    text-decoration: inherit
    text-transform: inherit
  @else if map-get($case, $scale-category) == all_caps
    text-decoration: none
    text-transform: uppercase

@mixin typography($scale-category, $scale: 1)
  $font-size: map-get($size, $scale-category)
  font-size: font-size($font-size) * $scale
  @if map-get($case, $scale-category) == sentence
    text-transform: inherit
  @else if map-get($case, $scale-category) == all_caps
    text-transform: uppercase
