// https://material.io/design/typography/the-type-system.html

$weight: (thin: 100, light: 300, regular: 400, medium: 500, bold: 700, black: 900)

$type-face: (h1: roboto, h2: roboto, h3: roboto, h4: roboto, h5: roboto, h6: roboto, subtitle1: roboto, subtitle2: roboto, body1: roboto, body2: roboto, button: roboto, caption: roboto, overline: roboto)
$font: (h1: light, h2: light, h3: regular, h4: regular, h5: regular, h6: medium, subtitle1: regular, subtitle2: medium, body1: regular, body2: regular, button: medium, caption: regular, overline: regular)
$size: (h1: 96, h2: 60, h3: 48, h4: 34, h5: 24, h6: 20, subtitle1: 16, subtitle2: 14, body1: 16, body2: 14, button: 14, caption: 12, overline: 10)
$case: (h1: sentence, h2: sentence, h3: sentence, h4: sentence, h5: sentence, h6: sentence, subtitle1: sentence, subtitle2: sentence, body1: sentence, body2: sentence, button: all_caps, caption: sentence, overline: all_caps)
$letter-spacing: (h1: -1.5, h2: -0.5, h3: 0, h4: 0.25, h5: 0, h6: 0.15, subtitle1: 0.15, subtitle2: 0.1, body1: 0.5, body2: 0.25, button: 1.25, caption: 0.4, overline: 1.5)


@function font-size($size)
  @return $size / 16 * 1rem

@function letter-spacing($letter-spacing, $size)
  @return $letter-spacing / $size * 1rem


@mixin typography_($scale-category, $scale: 1)
  $font-size: map-get($size, $scale-category)
  font-family: Roboto, sans-serif
  font-size: font-size($font-size) * $scale
  font-weight: map-get($weight, map-get($font, $scale-category))
  letter-spacing: letter-spacing(map-get($letter-spacing, $scale-category), $font-size)
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  @if map-get($case, $scale-category) == sentence
    text-decoration: inherit
    text-transform: inherit
  @else if map-get($case, $scale-category) == all_caps
    text-decoration: none
    text-transform: uppercase

@mixin typography($scale-category, $scale: 1)
  $font-size: map-get($size, $scale-category)
  font-size: font-size($font-size) * $scale
  @if map-get($case, $scale-category) == sentence
    text-transform: inherit
  @else if map-get($case, $scale-category) == all_caps
    text-transform: uppercase
