.mtrl-typography--headline1 {
  font-family: Roboto, sans-serif;
  font-size: 6rem;
  letter-spacing: -0.015625rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--headline2 {
  font-family: Roboto, sans-serif;
  font-size: 3.75rem;
  letter-spacing: -0.0083333333rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--headline3 {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--headline4 {
  font-family: Roboto, sans-serif;
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: 0.0073529412rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--headline5 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--headline6 {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0075rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--subtitle1 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.009375rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--subtitle2 {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0071428571rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--body1 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--body2 {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.0178571429rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--button {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0892857143rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-transform: uppercase;
}

.mtrl-typography--caption {
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0333333333rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
}

.mtrl-typography--overline {
  font-family: Roboto, sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-transform: uppercase;
}

/*# sourceMappingURL=typography.css.map */
