.demo-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
  margin: 8px;
  --border-radius: 16px;
  border-radius: var(--border-radius);
  --border-color: #6200ee;
  --border-width: 1px;
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.demo-card--smooth-corners-0d5 {
  --border-shape: smooth-rounded;
  --border-radius: 0.5;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
}
.demo-card--smooth-corners-1 {
  --border-shape: smooth-rounded;
  --border-radius: 1;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
}
.demo-card--smooth-corners-2 {
  --border-shape: smooth-rounded;
  --border-radius: 2;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
}
.demo-card--smooth-corners-4 {
  --border-shape: smooth-rounded;
  --border-radius: 4;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
}
.demo-card--smooth-corners-5 {
  --border-shape: smooth-rounded;
  --border-radius: 5;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
}
.demo-card--polygon-3 {
  --size: 3;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-4 {
  --size: 4;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-5 {
  --size: 5;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-6 {
  --size: 6;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-7 {
  --size: 7;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-8 {
  --size: 8;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-9 {
  --size: 9;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-10 {
  --size: 10;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-11 {
  --size: 11;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-12 {
  --size: 12;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-13 {
  --size: 13;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-14 {
  --size: 14;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-15 {
  --size: 15;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-16 {
  --size: 16;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}
.demo-card--polygon-rotated {
  --size: 4;
  --angle: 30deg;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
}

/*# sourceMappingURL=shape.css.map */
