@use "../../src/design/shape/shape" as *

.demo-card
  display: inline-flex
  align-items: center
  justify-content: center
  width: 128px
  height: 128px
  margin: 8px
  @include shape($radius: 16px)
  @include stroke(#6200ee, 1px, false)

  &--smooth-corners-0d5
    @include shape(smooth-rounded, 0.5, false)

  &--smooth-corners-1
    @include shape(smooth-rounded, 1, false)

  &--smooth-corners-2
    @include shape(smooth-rounded, 2, false)

  &--smooth-corners-4
    @include shape(smooth-rounded, 4, false)

  &--smooth-corners-5
    @include shape(smooth-rounded, 5, false)

  @for $i from 3 through 16
    &--polygon-#{$i}
      @include polygon($i, 0deg, false)

  &--polygon-rotated
    @include polygon(4, 30deg, false)
