@use "../../design/color/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/ripple" as *
@use "../../design/layout/spacing" as *
@use "../../design/typography/typography" as *
@use "../components" as *
@use "card_mixins" as *

.mtrl-card
  @include card-light-theme($surface, $on-surface)
  @include card-dark-theme($dark-surface, $dark-on-surface)
  @include accessible-border
  @include elevation(1)
  display: inline-flex
  flex-direction: column
  vertical-align: top
  border-radius: 4px

  &--outlined
    @include elevation(0)
    border: 1px solid

  &__media
    &:first-child
      border-top-left-radius: inherit
      border-top-right-radius: inherit

    &--16-9
      @include aspect-ratio(16 / 9)

  &__header
    display: flex
    flex-direction: column
    justify-content: center
    padding: 16px

    & + .mtrl-card__supporting-text
      margin-top: -16px

  &__title
    @include typography(headline6)

  &__subtitle
    @include typography(subtitle2)
    padding-top: 4px

  &__supporting-text
    @include typography(body2)
    padding: 16px

  &__actions
    padding: 8px

    button:not(:last-of-type)
      @include margin-end(8px)
