@use "../../design/color/theme" as *
@use "../../design/interaction/ripple" as *
@use "../../design/usability/accessibility" as *

@mixin card-theme_($color, $on-color)
  .mtrl-card
    &__primary
      @include ripple($on-color)

    &__title
      color: rgba($on-color, $text--high-emphasis)

    &__subtitle, &__supporting-text
      color: rgba($on-color, $text--medium-emphasis)

  &.mtrl-card
    background-color: $color
    @content

@mixin card-light-theme($color, $on-color)
  @include card-theme_($color, $on-color)

    &--outlined
      border-color: rgba($on-surface, $stroke)

@mixin card-dark-theme($color, $on-color)
  html[dark] &
    @include card-theme_($color, $on-color)

      &--outlined
        border-color: rgba($dark-on-surface, $stroke)

        &:focus
          border-color: $dark-on-surface
