@use "../../design/color/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/ripple" as *
@use "../../design/layout/spacing" as *
@use "../../design/typography/typography" as *
@use "../components" as *
@use "card_mixins" as *

.mtrl-card
  @include card-light-theme($surface, $on-surface)
  @include card-dark-theme($dark-surface, $dark-on-surface)
  @include accessible-border
  @include elevation(1)
  display: inline-flex
  flex-direction: column
  border-radius: 4px

  &--outlined
    @include elevation(0)
    border: 1px solid

  &__primary
    @include ripple_

    &:hover
      cursor: pointer

  &__header
    height: 72px
    padding: 0 16px

  &__title
    @include typography(headline6)
    display: flex
    align-items: flex-end
    height: 34px

  &__subtitle
    @include typography(subtitle2)
    display: flex
    align-items: flex-end
    height: 22px

  &__supporting-text
    @include typography(body2)
    padding: 0 16px 16px 16px

  &__actions
    padding: 8px 16px 8px 16px

    button
      @include margin-end(8px)
