.mtrl-card {
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  border-radius: 4px;
}
.mtrl-card .mtrl-card__title {
  color: rgba(0, 0, 0, 0.87);
}
.mtrl-card .mtrl-card__subtitle, .mtrl-card .mtrl-card__supporting-text {
  color: rgba(0, 0, 0, 0.6);
}
.mtrl-card.mtrl-card {
  background-color: #ffffff;
}
.mtrl-card.mtrl-card--outlined {
  border-color: rgba(0, 0, 0, 0.12);
}
html[dark] .mtrl-card .mtrl-card__title {
  color: rgba(255, 255, 255, 0.87);
}
html[dark] .mtrl-card .mtrl-card__subtitle, html[dark] .mtrl-card .mtrl-card__supporting-text {
  color: rgba(255, 255, 255, 0.6);
}
html[dark] .mtrl-card.mtrl-card {
  background-color: #121212;
}
html[dark] .mtrl-card.mtrl-card--outlined {
  border-color: rgba(255, 255, 255, 0.12);
}
html[dark] .mtrl-card.mtrl-card--outlined:focus {
  border-color: white;
}
.mtrl-card:not(:focus-visible) {
  outline: none;
}
.mtrl-card:focus-visible {
  overflow: hidden;
}
html[dark] .mtrl-card::before {
  opacity: 0.05;
}
html[dark] .mtrl-card:hover::before {
  opacity: 0.09;
}
html[dark] .mtrl-card:focus::before {
  opacity: 0.17;
}
html[dark] .mtrl-card:active::before {
  opacity: 0.15;
}
.mtrl-card:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.mtrl-card:focus {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.mtrl-card:active {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.mtrl-card--outlined {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  border: 1px solid;
}
html[dark] .mtrl-card--outlined::before {
  opacity: 0;
}
html[dark] .mtrl-card--outlined:hover::before {
  opacity: 0.04;
}
html[dark] .mtrl-card--outlined:focus::before {
  opacity: 0.12;
}
html[dark] .mtrl-card--outlined:active::before {
  opacity: 0.1;
}
.mtrl-card--outlined:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-card--outlined:focus {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-card--outlined:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  z-index: 0;
}
.mtrl-card__media:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.mtrl-card__media--16-9 {
  position: relative;
  overflow: hidden;
}
.mtrl-card__media--16-9::before {
  display: flex;
  content: "";
  float: left;
  height: 0;
  margin-top: calc(100% / 1.7777777778);
}
.mtrl-card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px 16px 16px;
}
.mtrl-card__header + .mtrl-card__supporting-text {
  margin-top: -16px;
}
.mtrl-card__title {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0075rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
  padding-top: 10px;
}
.mtrl-card__subtitle {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0071428571rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
  padding-top: 5px;
}
.mtrl-card__supporting-text {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.0178571429rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
  padding: 11px 16px 16px;
}
.mtrl-card__actions {
  padding: 8px;
}
html:not([dir=rtl]) .mtrl-card__actions button:not(:last-of-type) {
  margin-right: 8px;
}
html[dir=rtl] .mtrl-card__actions button:not(:last-of-type) {
  margin-left: 8px;
}

/*# sourceMappingURL=card.css.map */
