@use "sass:map"
@use "../layout/density" as *

// https://material.io/design/shape/applying-shape-to-ui.html

@mixin shape($shape: null, $radius: null, $safe: true)
  @if $shape != null
    --border-shape: #{$shape}

  @if $radius != null
    --border-radius: #{$radius}

    @if $safe == true
      border-radius: $radius

  @if $safe == false
    border-radius: 0
    @if $shape == rounded or cut or scoop or notch or iphonex
      -webkit-mask-image: paint(corner-shape, filled)
      --corner-shape: var(--border-shape)
      --corner-radius: var(--border-radius)

    @if $shape == smooth-corners
      -webkit-mask-image: paint(smooth-corners, filled)
      --smooth-corners: var(--border-radius)

    @if $shape == polygon
      -webkit-mask-image: paint(avatar-polygon)
      --avatar-sides: var(--border-radius)
      --avatar-angle: 0deg

@mixin stroke($color: null, $width: null, $safe: true, $smooth: false)
  @if $color != null
    --border-color: #{$color}

  @if $width != null
    --border-width: #{$width}

  @if $safe == true
    border: $width solid $color
  @else
    border: 0
    --stroke-color: var(--border-color)
    --stroke-width: var(--border-width)
    @if $smooth == false
      border-image: paint(corner-shape, outlined) 0 fill
    @else
      border-image: paint(smooth-corners, outlined) 0 fill
