// https://material.io/design/shape/applying-shape-to-ui.html

@mixin corner($radius: null)
  --corner-radius: #{$radius}
  border-radius: var(--corner-radius)

@mixin stroke($width: null, $color: null)
  @if $width != null
    --stroke-width: #{$width}
  @if $color != null
    --stroke-color: #{$color}
  border: var(--stroke-width) solid var(--stroke-color)

@mixin shape($shape: null, $sides: null, $angle: null)
  @if $shape != null
    --corner-shape: #{$shape}
    @supports (-webkit-mask-image: unquote('paint(corner-shape)'))
      -webkit-mask-image: unquote('paint(corner-shape, filled)')
    @supports (border-image: unquote('paint(corner-shape)'))
      border: none
      border-radius: 0
      border-image: unquote('paint(corner-shape, outlined)') 0 fill

  @if $sides != null
    --polygon-sides: #{$sides}
  @if $angle != null
    --polygon-angle: #{$angle}
