@use "../theme/theme" as *

// https://material.io/design/shape/applying-shape-to-ui.html

@mixin corner($radius: null)
  @include prop(border-radius, shape--corner-radius, $radius)

@mixin stroke($width: null, $color: null)
  @if $width != null
    @include var(shape--stroke-width, $width)
  @if $color != null
    @include var(shape--stroke-color, $color)

@mixin stroke_
  border: #{prop(shape--stroke-width)} solid #{prop(shape--stroke-color)}

@mixin shape($shape: null, $sides: null, $angle: null)
  @if $shape != null
    @include var(shape--corner-shape, $shape)
  @if $sides != null
    @include var(shape--polygon-sides, $sides)
  @if $angle != null
    @include var(shape--polygon-angle, $angle)

@mixin shape_
  @supports (-webkit-mask-image: paint(sth))
    border-radius: 0
    -webkit-mask-image: paint(corner-shape, filled)
  @supports (border-image: paint(sth))
    border: none
    border-image: paint(corner-shape, outlined) 0 fill
