@use "../../design/theme/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/ripple" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/shape/shape" as *
@use "../../design/typography/typography" as *
@use "../../design/usability/accessibility" as *
@use "../components" as *

.mtrl-backdrop
  @include height(720px)
  display: flex
  width: 360px

  &__back-layer
    @include height(720px)
    width: 360px
    background-color: theme-prop(primary)
    color: theme-prop(on-primary, $text--high-emphasis)

    .mtrl-top-app-bar
      @include elevation(0)

  &__front-layer
    @include elevation(1)
    @include padding(0 16px 0 16px)
    @include corner(16px 16px 0 0)
    @include margin-start(-360px)
    @include height(720px - 56px)
    width: 360px - 32px
    margin-top: 56px
    background-color: theme-prop(surface)
    color: theme-prop(on-surface, $text--high-emphasis)

    &--shrink
      @include height(48px)
      @include padding(0 4px 0 16px)
      display: inline-flex
      justify-content: space-between
      width: 360px - 16px
      margin-top: 720px - 56px + 12px

      .mtrl-backdrop__front-layer__subtitle
        margin-bottom: 12px

    &__subtitle
      @include height(32px)
      @include typography(subtitle1)
      display: inline-flex
      align-items: flex-end
      color: theme-prop(on-surface, $text--high-emphasis)

    &__action-icon
      @include ripple_
      @include ripple(theme-prop(on-surface))
      @include no-dark-elevation-overlay
      @include accessible-border
      @include corner(50%)
      @include padding(12px)
      display: inline-flex
      position: relative
      width: 24px
      height: 24px
      font-size: 24px
      cursor: pointer
      fill: currentColor
