@use "sass:map"

// https://material.io/design/layout/applying-density.html

$component-height: (button: 36px, vertical-button: 64px, icon-button: 40px)

@mixin density($component, $value: 0, $scale: 4px)
  $height: map.get($component-height, $component)
  $density: $value * $scale

  height: $height + $density


@function height($component)
  @return map.get($component-height, $component)
