@use "../theme/theme" as *
@use "../usability/bidirectionality" as *

// https://material.io/design/layout/spacing-methods.html

// spacing
@mixin margin-start($start)
  @include ltr
    margin-left: $start
  @include rtl
    margin-right: $start

@mixin margin-end($end)
  @include ltr
    margin-right: $end
  @include rtl
    margin-left: $end

@mixin margin-horizontal($start, $end: $start)
  @include ltr
    margin-left: $start
    margin-right: $end
  @include rtl
    margin-left: $end
    margin-right: $start

@mixin margin($top, $start: $top, $bottom: $top, $end: $start)
  @if $top == $bottom and $start == $end and $top == $start
    margin: $top
  @else if $top == $bottom and $start == $end
    margin: $top $start
  @else if $start == $end
    margin: $top $start $bottom
  @else
    @include ltr
      margin: $top $end $bottom $start
    @include rtl
      margin: $top $start $bottom $end


@mixin padding-start($start)
  @include ltr
    padding-left: $start
  @include rtl
    padding-right: $start

@mixin padding-end($end)
  @include ltr
    padding-right: $end
  @include rtl
    padding-left: $end

@mixin padding-horizontal($start, $end: $start)
  @include ltr
    padding-left: $start
    padding-right: $end
  @include rtl
    padding-left: $end
    padding-right: $start

@mixin padding($top, $start: $top, $bottom: $top, $end: $start)
  @if $top == $bottom and $start == $end and $top == $start
    padding: $top
  @else if $top == $bottom and $start == $end
    padding: $top $start
  @else if $start == $end
    padding: $top $start $bottom
  @else
    @include ltr
      padding: $top $end $bottom $start
    @include rtl
      padding: $top $start $bottom $end


// aspect ratios
@mixin aspect-ratio($x, $y)
  position: relative
  overflow: hidden
  &::before
    display: block
    content: ""
    margin-top: percentage($y / $x)


// touch targets

@mixin touch-target($touch-target: 48px)
  &::after
    content: ''
    position: absolute
    top: calc((#{prop(component-height)} - #{$touch-target}) / 2)
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: $touch-target
