@use "../design/interaction/states" as *

@mixin unselectable
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-tap-highlight-color: transparent

@mixin ripple($idle: 0, $hover: $container-overlay--hovered, $focus: $container-overlay--focused, $press: $container-overlay--pressed)
  &::before
    position: absolute
    width: calc(100% + #{stroke-width(0px)} * 2)
    height: calc(100% + #{stroke-width(0px)} * 2)
    left: calc(#{stroke-width(0px)} * -1)
    content: ''
    background-color: currentColor
    border-radius: inherit
    z-index: inherit

  &::before
    opacity: calc(#{$idle} + var(--mtrl-ripple--opacity-dark-boost, 0))
  &:hover:before
    opacity: calc(#{$hover} + var(--mtrl-ripple--opacity-dark-boost, 0))
  &:focus:before
    opacity: calc(#{$focus} + var(--mtrl-ripple--opacity-dark-boost, 0))
  &:active:before
    opacity: calc(#{$press} + var(--mtrl-ripple--opacity-dark-boost, 0))

@mixin height($height)
  --mtrl-component--height: #{$height}

@function height($height: null)
  @if $height != null
    @return var(--mtrl-component--height, #{$height})
  @else
    @return var(--mtrl-component--height)

@mixin density($density)
  --mtrl-component--density: #{$density}

@function density($height: null, $density: 0)
  @if $height != null
    @return calc(#{height($height)} + 4px * var(--mtrl-component--density, #{$density}))
  @else
    @return calc(#{height()} + 4px * var(--mtrl-component--density, #{$density}))

@mixin stroke-width($width)
  --mtrl-component--stroke-width: #{$width}

@function stroke-width($width: null)
  @if $width != null
    @return var(--mtrl-component--stroke-width, #{$width})
  @else
    @return var(--mtrl-component--stroke-width)
