@use "../../design/theme/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/ripple" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/shape/shape" as *
@use "../../design/usability/accessibility" as *
@use "../components" as *

.mtrl-bottom-app-bar
  @include elevation(4)
  @include height(56px)
  @include unselectable
  @include centered-content
  display: flex
  justify-content: space-between
  background-color: theme-prop(primary)
  color: theme-prop(on-primary, $text--high-emphasis)

  &--landscape
    @include height(48px)

  &__start-controls
    @include margin-start(4px)

  &__end-controls
    @include margin-end(4px)

  &__navigation-drawer-control
    @include ripple_
    @include ripple(theme-prop(on-primary))
    @include no-dark-elevation-overlay
    @include accessible-border
    @include corner(50%)
    @include padding(12px)
    display: inline-flex
    position: relative
    width: 24px
    height: 24px
    font-size: 24px
    cursor: pointer
    fill: currentColor

  &__fab
    @include elevation(12)
    margin-top: calc(#{prop(component-height)} * -1)

    &--end
      @include margin-end(16px)

    &--cut
      margin-top: calc(#{prop(component-height)} / -1 - 4px)

      &__wrapper
        @include height(62px)
        @include corner(0 0 62px 62px)
        margin-top: calc(#{prop(component-height)} * -1 + 4px)
        width: 64px
        border-radius: 50%
        background-color: theme-prop(surface)
        clip-path: inset(50% 0 0 0)

        .mtrl-bottom-app-bar__fab
          @include margin-start(4px)
          margin-top: initial

    &__wrapper
      @include centered-content
      position: absolute
      display: flex
      width: 100%
