@use "../../design/color/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/ripple" as *
@use "../../design/layout/spacing" as *
@use "../../design/usability/accessibility" as *
@use "../components" as *

.mtrl-bottom-app-bar
  @include elevation(4)
  display: flex
  align-items: center
  justify-content: space-between
  height: 56px
  background-color: $primary
  color: rgba($on-primary, $text--high-emphasis)

  &--landscape
    height: 48px

  &__start-controls
    @include margin-start(4px)

  &__end-controls
    @include margin-end(4px)

  &__navigation-drawer-control
    @include ripple_
    @include touch-target
    @include unselectable
    @include accessible-border
    @include ripple($on-primary)
    display: inline-flex
    position: relative
    width: 24px
    height: 24px
    padding: 12px
    border-radius: 50%
    font-size: 24px
    cursor: pointer
    fill: currentColor

  &__fab
    @include elevation(12)
    margin-top: -56px

    &--end
      @include margin-horizontal(auto, 16px)
