@use "../../design/theme/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/interaction/ripple" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/shape/shape" as *
@use "../../design/typography/typography" as *
@use "../components" as *

.mtrl-top-app-bar
  @include elevation(4)
  @include height(56px)
  @include unselectable
  @include centered-content
  display: flex
  background-color: theme-prop(primary)
  color: theme-prop(on-primary)

  &--dense
    @include density(-2)

  &--extended
    @include height(128px)
    align-items: flex-start
    justify-content: start

    &.mtrl-top-app-bar--dense
      @include density(-4)

      .mtrl-top-app-bar__start-controls, .mtrl-top-app-bar__end-controls
        margin-top: 0

    .mtrl-top-app-bar__start-controls, .mtrl-top-app-bar__end-controls
      margin-top: 4px

    .mtrl-top-app-bar__title
      @include typography(headline5)
      align-self: flex-end
      padding-bottom: 24px

  &--stroked
    @include stroke_
    @include stroke(1px, theme-prop(primary))
    background-color: theme-prop(surface)
    color: theme-prop(primary)

    .mtrl-top-app-bar__navigation-icon, .mtrl-top-app-bar__action-icon
      @include ripple(theme-prop(primary))

  &__start-controls
    @include margin-start(4px)

  &__end-controls
    @include margin-horizontal(auto, 4px)

  &__title
    @include typography(headline6)
    @include margin-start(32px)

  &__navigation-icon, &__action-icon
    @include ripple_
    @include ripple(theme-prop(on-primary))
    @include no-dark-elevation-overlay
    @include accessible-border
    @include corner(50%)
    @include padding(12px)
    display: inline-flex
    position: relative
    width: 24px
    height: 24px
    font-size: 24px
    cursor: pointer
    fill: currentColor

  &__navigation-icon
    @include margin-start(4px)
