@use "../../design/color/theme" as *
@use "../../design/environment/elevation" as *
@use "../../design/layout/spacing" as *
@use "../../design/typography/typography" as *
@use "../components" as *

.mtrl-top-app-bar
  @include elevation(4)
  display: flex
  align-items: center
  height: 56px
  background-color: $primary
  color: $on-primary

  &--extended
    height: 128px
    align-items: flex-start
    justify-content: start

    .mtrl-top-app-bar__start-controls, .mtrl-top-app-bar__end-controls
      margin-top: 4px

    .mtrl-top-app-bar__title
      @include typography(headline5)
      align-self: flex-end
      padding-bottom: 24px

  &__start-controls
    @include margin-start(4px)

  &__end-controls
    @include margin-horizontal(auto, 4px)

  &__title
    @include typography(headline6)
    @include margin-start(32px)

  .mtrl-icon-button
    background-color: inherit !important
    color: inherit !important

  &__navigation-icon
    @include margin-start(4px)
