.mtrl-theme--primary {
  --place-holder: 0;
}

.mtrl-theme--primary-primary-variant {
  --mtrl-theme-primary: var(--mtrl-theme-primary-variant);
  --mtrl-theme-on-primary: var(--mtrl-theme-on-primary-variant);
}
html[dark] .mtrl-theme--primary-primary-variant {
  --mtrl-theme-primary: var(--mtrl-dark-theme-primary-variant);
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-on-primary-variant);
}

.mtrl-theme--on-primary-primary-variant {
  --mtrl-theme-on-primary: var(--mtrl-theme-primary-variant);
  --mtrl-theme-primary: var(--mtrl-theme-on-primary-variant);
}
html[dark] .mtrl-theme--on-primary-primary-variant {
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-primary-variant);
  --mtrl-theme-primary: var(--mtrl-dark-theme-on-primary-variant);
}

.mtrl-theme--primary-secondary {
  --mtrl-theme-primary: var(--mtrl-theme-secondary);
  --mtrl-theme-on-primary: var(--mtrl-theme-on-secondary);
}
html[dark] .mtrl-theme--primary-secondary {
  --mtrl-theme-primary: var(--mtrl-dark-theme-secondary);
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-on-secondary);
}

.mtrl-theme--on-primary-secondary {
  --mtrl-theme-on-primary: var(--mtrl-theme-secondary);
  --mtrl-theme-primary: var(--mtrl-theme-on-secondary);
}
html[dark] .mtrl-theme--on-primary-secondary {
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-secondary);
  --mtrl-theme-primary: var(--mtrl-dark-theme-on-secondary);
}

.mtrl-theme--primary-secondary-variant {
  --mtrl-theme-primary: var(--mtrl-theme-secondary-variant);
  --mtrl-theme-on-primary: var(--mtrl-theme-on-secondary-variant);
}
html[dark] .mtrl-theme--primary-secondary-variant {
  --mtrl-theme-primary: var(--mtrl-dark-theme-secondary-variant);
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-on-secondary-variant);
}

.mtrl-theme--on-primary-secondary-variant {
  --mtrl-theme-on-primary: var(--mtrl-theme-secondary-variant);
  --mtrl-theme-primary: var(--mtrl-theme-on-secondary-variant);
}
html[dark] .mtrl-theme--on-primary-secondary-variant {
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-secondary-variant);
  --mtrl-theme-primary: var(--mtrl-dark-theme-on-secondary-variant);
}

.mtrl-theme--primary-surface {
  --mtrl-theme-primary: var(--mtrl-theme-surface);
  --mtrl-theme-on-primary: var(--mtrl-theme-on-surface);
}
html[dark] .mtrl-theme--primary-surface {
  --mtrl-theme-primary: var(--mtrl-dark-theme-surface);
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-on-surface);
}

.mtrl-theme--on-primary-surface {
  --mtrl-theme-on-primary: var(--mtrl-theme-surface);
  --mtrl-theme-primary: var(--mtrl-theme-on-surface);
}
html[dark] .mtrl-theme--on-primary-surface {
  --mtrl-theme-on-primary: var(--mtrl-dark-theme-surface);
  --mtrl-theme-primary: var(--mtrl-dark-theme-on-surface);
}

.mtrl-theme--primary-variant-primary {
  --mtrl-theme-primary-variant: var(--mtrl-theme-primary);
  --mtrl-theme-on-primary-variant: var(--mtrl-theme-on-primary);
}
html[dark] .mtrl-theme--primary-variant-primary {
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-primary);
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-on-primary);
}

.mtrl-theme--on-primary-variant-primary {
  --mtrl-theme-on-primary-variant: var(--mtrl-theme-primary);
  --mtrl-theme-primary-variant: var(--mtrl-theme-on-primary);
}
html[dark] .mtrl-theme--on-primary-variant-primary {
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-primary);
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-on-primary);
}

.mtrl-theme--primary-variant {
  --place-holder: 0;
}

.mtrl-theme--primary-variant-secondary {
  --mtrl-theme-primary-variant: var(--mtrl-theme-secondary);
  --mtrl-theme-on-primary-variant: var(--mtrl-theme-on-secondary);
}
html[dark] .mtrl-theme--primary-variant-secondary {
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-secondary);
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-on-secondary);
}

.mtrl-theme--on-primary-variant-secondary {
  --mtrl-theme-on-primary-variant: var(--mtrl-theme-secondary);
  --mtrl-theme-primary-variant: var(--mtrl-theme-on-secondary);
}
html[dark] .mtrl-theme--on-primary-variant-secondary {
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-secondary);
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-on-secondary);
}

.mtrl-theme--primary-variant-secondary-variant {
  --mtrl-theme-primary-variant: var(--mtrl-theme-secondary-variant);
  --mtrl-theme-on-primary-variant: var(--mtrl-theme-on-secondary-variant);
}
html[dark] .mtrl-theme--primary-variant-secondary-variant {
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-secondary-variant);
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-on-secondary-variant);
}

.mtrl-theme--on-primary-variant-secondary-variant {
  --mtrl-theme-on-primary-variant: var(--mtrl-theme-secondary-variant);
  --mtrl-theme-primary-variant: var(--mtrl-theme-on-secondary-variant);
}
html[dark] .mtrl-theme--on-primary-variant-secondary-variant {
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-secondary-variant);
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-on-secondary-variant);
}

.mtrl-theme--primary-variant-surface {
  --mtrl-theme-primary-variant: var(--mtrl-theme-surface);
  --mtrl-theme-on-primary-variant: var(--mtrl-theme-on-surface);
}
html[dark] .mtrl-theme--primary-variant-surface {
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-surface);
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-on-surface);
}

.mtrl-theme--on-primary-variant-surface {
  --mtrl-theme-on-primary-variant: var(--mtrl-theme-surface);
  --mtrl-theme-primary-variant: var(--mtrl-theme-on-surface);
}
html[dark] .mtrl-theme--on-primary-variant-surface {
  --mtrl-theme-on-primary-variant: var(--mtrl-dark-theme-surface);
  --mtrl-theme-primary-variant: var(--mtrl-dark-theme-on-surface);
}

.mtrl-theme--secondary-primary {
  --mtrl-theme-secondary: var(--mtrl-theme-primary);
  --mtrl-theme-on-secondary: var(--mtrl-theme-on-primary);
}
html[dark] .mtrl-theme--secondary-primary {
  --mtrl-theme-secondary: var(--mtrl-dark-theme-primary);
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-on-primary);
}

.mtrl-theme--on-secondary-primary {
  --mtrl-theme-on-secondary: var(--mtrl-theme-primary);
  --mtrl-theme-secondary: var(--mtrl-theme-on-primary);
}
html[dark] .mtrl-theme--on-secondary-primary {
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-primary);
  --mtrl-theme-secondary: var(--mtrl-dark-theme-on-primary);
}

.mtrl-theme--secondary-primary-variant {
  --mtrl-theme-secondary: var(--mtrl-theme-primary-variant);
  --mtrl-theme-on-secondary: var(--mtrl-theme-on-primary-variant);
}
html[dark] .mtrl-theme--secondary-primary-variant {
  --mtrl-theme-secondary: var(--mtrl-dark-theme-primary-variant);
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-on-primary-variant);
}

.mtrl-theme--on-secondary-primary-variant {
  --mtrl-theme-on-secondary: var(--mtrl-theme-primary-variant);
  --mtrl-theme-secondary: var(--mtrl-theme-on-primary-variant);
}
html[dark] .mtrl-theme--on-secondary-primary-variant {
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-primary-variant);
  --mtrl-theme-secondary: var(--mtrl-dark-theme-on-primary-variant);
}

.mtrl-theme--secondary {
  --place-holder: 0;
}

.mtrl-theme--secondary-secondary-variant {
  --mtrl-theme-secondary: var(--mtrl-theme-secondary-variant);
  --mtrl-theme-on-secondary: var(--mtrl-theme-on-secondary-variant);
}
html[dark] .mtrl-theme--secondary-secondary-variant {
  --mtrl-theme-secondary: var(--mtrl-dark-theme-secondary-variant);
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-on-secondary-variant);
}

.mtrl-theme--on-secondary-secondary-variant {
  --mtrl-theme-on-secondary: var(--mtrl-theme-secondary-variant);
  --mtrl-theme-secondary: var(--mtrl-theme-on-secondary-variant);
}
html[dark] .mtrl-theme--on-secondary-secondary-variant {
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-secondary-variant);
  --mtrl-theme-secondary: var(--mtrl-dark-theme-on-secondary-variant);
}

.mtrl-theme--secondary-surface {
  --mtrl-theme-secondary: var(--mtrl-theme-surface);
  --mtrl-theme-on-secondary: var(--mtrl-theme-on-surface);
}
html[dark] .mtrl-theme--secondary-surface {
  --mtrl-theme-secondary: var(--mtrl-dark-theme-surface);
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-on-surface);
}

.mtrl-theme--on-secondary-surface {
  --mtrl-theme-on-secondary: var(--mtrl-theme-surface);
  --mtrl-theme-secondary: var(--mtrl-theme-on-surface);
}
html[dark] .mtrl-theme--on-secondary-surface {
  --mtrl-theme-on-secondary: var(--mtrl-dark-theme-surface);
  --mtrl-theme-secondary: var(--mtrl-dark-theme-on-surface);
}

.mtrl-theme--secondary-variant-primary {
  --mtrl-theme-secondary-variant: var(--mtrl-theme-primary);
  --mtrl-theme-on-secondary-variant: var(--mtrl-theme-on-primary);
}
html[dark] .mtrl-theme--secondary-variant-primary {
  --mtrl-theme-secondary-variant: var(--mtrl-dark-theme-primary);
  --mtrl-theme-on-secondary-variant: var(--mtrl-dark-theme-on-primary);
}

.mtrl-theme--on-secondary-variant-primary {
  --mtrl-theme-on-secondary-variant: var(--mtrl-theme-primary);
  --mtrl-theme-secondary-variant: var(--mtrl-theme-on-primary);
}
html[dark] .mtrl-theme--on-secondary-variant-primary {
  --mtrl-theme-on-secondary-variant: var(--mtrl-dark-theme-primary);
  --mtrl-theme-secondary-variant: var(--mtrl-dark-theme-on-primary);
}

.mtrl-theme--secondary-variant-primary-variant {
  --mtrl-theme-secondary-variant: var(--mtrl-theme-primary-variant);
  --mtrl-theme-on-secondary-variant: var(--mtrl-theme-on-primary-variant);
}
html[dark] .mtrl-theme--secondary-variant-primary-variant {
  --mtrl-theme-secondary-variant: var(--mtrl-dark-theme-primary-variant);
  --mtrl-theme-on-secondary-variant: var(--mtrl-dark-theme-on-primary-variant);
}

.mtrl-theme--on-secondary-variant-primary-variant {
  --mtrl-theme-on-secondary-variant: var(--mtrl-theme-primary-variant);
  --mtrl-theme-secondary-variant: var(--mtrl-theme-on-primary-variant);
}
html[dark] .mtrl-theme--on-secondary-variant-primary-variant {
  --mtrl-theme-on-secondary-variant: var(--mtrl-dark-theme-primary-variant);
  --mtrl-theme-secondary-variant: var(--mtrl-dark-theme-on-primary-variant);
}

.mtrl-theme--secondary-variant-secondary {
  --mtrl-theme-secondary-variant: var(--mtrl-theme-secondary);
  --mtrl-theme-on-secondary-variant: var(--mtrl-theme-on-secondary);
}
html[dark] .mtrl-theme--secondary-variant-secondary {
  --mtrl-theme-secondary-variant: var(--mtrl-dark-theme-secondary);
  --mtrl-theme-on-secondary-variant: var(--mtrl-dark-theme-on-secondary);
}

.mtrl-theme--on-secondary-variant-secondary {
  --mtrl-theme-on-secondary-variant: var(--mtrl-theme-secondary);
  --mtrl-theme-secondary-variant: var(--mtrl-theme-on-secondary);
}
html[dark] .mtrl-theme--on-secondary-variant-secondary {
  --mtrl-theme-on-secondary-variant: var(--mtrl-dark-theme-secondary);
  --mtrl-theme-secondary-variant: var(--mtrl-dark-theme-on-secondary);
}

.mtrl-theme--secondary-variant {
  --place-holder: 0;
}

.mtrl-theme--secondary-variant-surface {
  --mtrl-theme-secondary-variant: var(--mtrl-theme-surface);
  --mtrl-theme-on-secondary-variant: var(--mtrl-theme-on-surface);
}
html[dark] .mtrl-theme--secondary-variant-surface {
  --mtrl-theme-secondary-variant: var(--mtrl-dark-theme-surface);
  --mtrl-theme-on-secondary-variant: var(--mtrl-dark-theme-on-surface);
}

.mtrl-theme--on-secondary-variant-surface {
  --mtrl-theme-on-secondary-variant: var(--mtrl-theme-surface);
  --mtrl-theme-secondary-variant: var(--mtrl-theme-on-surface);
}
html[dark] .mtrl-theme--on-secondary-variant-surface {
  --mtrl-theme-on-secondary-variant: var(--mtrl-dark-theme-surface);
  --mtrl-theme-secondary-variant: var(--mtrl-dark-theme-on-surface);
}

.mtrl-theme--surface-primary {
  --mtrl-theme-surface: var(--mtrl-theme-primary);
  --mtrl-theme-on-surface: var(--mtrl-theme-on-primary);
}
html[dark] .mtrl-theme--surface-primary {
  --mtrl-theme-surface: var(--mtrl-dark-theme-primary);
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-on-primary);
}

.mtrl-theme--on-surface-primary {
  --mtrl-theme-on-surface: var(--mtrl-theme-primary);
  --mtrl-theme-surface: var(--mtrl-theme-on-primary);
}
html[dark] .mtrl-theme--on-surface-primary {
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-primary);
  --mtrl-theme-surface: var(--mtrl-dark-theme-on-primary);
}

.mtrl-theme--surface-primary-variant {
  --mtrl-theme-surface: var(--mtrl-theme-primary-variant);
  --mtrl-theme-on-surface: var(--mtrl-theme-on-primary-variant);
}
html[dark] .mtrl-theme--surface-primary-variant {
  --mtrl-theme-surface: var(--mtrl-dark-theme-primary-variant);
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-on-primary-variant);
}

.mtrl-theme--on-surface-primary-variant {
  --mtrl-theme-on-surface: var(--mtrl-theme-primary-variant);
  --mtrl-theme-surface: var(--mtrl-theme-on-primary-variant);
}
html[dark] .mtrl-theme--on-surface-primary-variant {
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-primary-variant);
  --mtrl-theme-surface: var(--mtrl-dark-theme-on-primary-variant);
}

.mtrl-theme--surface-secondary {
  --mtrl-theme-surface: var(--mtrl-theme-secondary);
  --mtrl-theme-on-surface: var(--mtrl-theme-on-secondary);
}
html[dark] .mtrl-theme--surface-secondary {
  --mtrl-theme-surface: var(--mtrl-dark-theme-secondary);
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-on-secondary);
}

.mtrl-theme--on-surface-secondary {
  --mtrl-theme-on-surface: var(--mtrl-theme-secondary);
  --mtrl-theme-surface: var(--mtrl-theme-on-secondary);
}
html[dark] .mtrl-theme--on-surface-secondary {
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-secondary);
  --mtrl-theme-surface: var(--mtrl-dark-theme-on-secondary);
}

.mtrl-theme--surface-secondary-variant {
  --mtrl-theme-surface: var(--mtrl-theme-secondary-variant);
  --mtrl-theme-on-surface: var(--mtrl-theme-on-secondary-variant);
}
html[dark] .mtrl-theme--surface-secondary-variant {
  --mtrl-theme-surface: var(--mtrl-dark-theme-secondary-variant);
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-on-secondary-variant);
}

.mtrl-theme--on-surface-secondary-variant {
  --mtrl-theme-on-surface: var(--mtrl-theme-secondary-variant);
  --mtrl-theme-surface: var(--mtrl-theme-on-secondary-variant);
}
html[dark] .mtrl-theme--on-surface-secondary-variant {
  --mtrl-theme-on-surface: var(--mtrl-dark-theme-secondary-variant);
  --mtrl-theme-surface: var(--mtrl-dark-theme-on-secondary-variant);
}

.mtrl-theme--surface {
  --place-holder: 0;
}

/*# sourceMappingURL=theme.css.map */
