/* Error: There is no module with the namespace "constants".
 *    ,
 * 25 |   $red: list.nth(constants.$linear-channel-values, color.red($color) + 1)
 *    |                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   ..\usability\accessibility.sass 25:18  luminance()
 *   ..\usability\accessibility.sass 31:13  contrast()
 *   ..\usability\accessibility.sass 40:19  tone()
 *   ..\usability\accessibility.sass 49:14  contrast-tone()
 *   dark-theme.sass 14:17                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "constants".\a    \2577 \a 25 \2502    $red: list.nth(constants.$linear-channel-values, color.red($color) + 1)\d\a    \2502                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   ..\\usability\\accessibility.sass 25:18  luminance()\a   ..\\usability\\accessibility.sass 31:13  contrast()\a   ..\\usability\\accessibility.sass 40:19  tone()\a   ..\\usability\\accessibility.sass 49:14  contrast-tone()\a   dark-theme.sass 14:17                  root stylesheet';
}
