@use "../usability/accessibility" as *
@use "palette" as *

// https://material.io/design/color/the-color-system.html

$primary: $primary-500 !default
$primary-variant: $primary-700 !default
$secondary: $secondary-200 !default
$secondary-variant: $secondary-700 !default
$background: #ffffff !default
$surface: #ffffff !default
$error: #b00020 !default

$on-primary: on-color($primary) !default
$on-primary-variant: on-color($primary-variant) !default
$on-secondary: on-color($secondary) !default
$on-secondary-variant: on-color($secondary-variant) !default
$on-background: on-color($background) !default
$on-surface: on-color($surface) !default
$on-error: on-color($error) !default

// https://material.io/design/color/dark-theme.html

$dark-primary: $primary-200 !default
$dark-primary-variant: $primary-700 !default
$dark-secondary: $secondary-200 !default
$dark-secondary-variant: $secondary-200 !default
$dark-background: #121212 !default
$dark-surface: #121212 !default
$dark-error: #cf6679 !default

$dark-on-primary: on-color($dark-primary) !default
$dark-on-primary-variant: on-color($dark-primary-variant) !default
$dark-on-secondary: on-color($dark-secondary) !default
$dark-on-secondary-variant: on-color($dark-secondary-variant) !default
$dark-on-background: on-color($dark-background) !default
$dark-on-surface: on-color($dark-surface) !default
$dark-on-error: on-color($dark-error) !default

$elevation-overlay: (00: 0, 01: .05, 02: .07, 03: .08, 04: .09, 05: .1, 06: .11, 07: .11, 08: .12, 09: .12, 10: .13, 11: .13, 12: .14, 13: .14, 14: .14, 15: .14, 16: .15, 17: .15, 18: .15, 19: .15, 20: .15, 21: .15, 22: .15, 23: .15, 24: .16)

$theme-map: (primary: $primary, on-primary: $on-primary, primary-variant: $primary-variant, on-primary-variant: $on-primary-variant, secondary: $secondary, on-secondary: $on-secondary, secondary-variant: $secondary-variant, on-secondary-variant: $on-secondary-variant, background: $background, on-background: $on-background, surface: $surface, on-surface: $on-surface, error: $error, on-error: $on-error)
$dark-theme-map: (primary: $dark-primary, on-primary: $dark-on-primary, primary-variant: $dark-primary-variant, on-primary-variant: $dark-on-primary-variant, secondary: $dark-secondary, on-secondary: $dark-on-secondary, secondary-variant: $dark-secondary-variant, on-secondary-variant: $dark-on-secondary-variant, background: $dark-background, on-background: $dark-on-background, surface: $dark-surface, on-surface: $dark-on-surface, error: $dark-error, on-error: $dark-on-error)
$color-map: (red: $red-500, pink: $pink-500, purple: $purple-500, deep-purple: $deep-purple-500, indigo: $indigo-500, blue: $blue-500, light-blue: $light-blue-500, cyan: $cyan-500, teal: $teal-500, green: $green-500, light-green: $light-green-500, lime: $lime-500, yellow: $yellow-500, amber: $amber-500, orange: $orange-500, deep-orange: $deep-orange-500, brown: $brown-500, grey: $grey-500, blue-grey: $blue-grey-500, black: black, white: white)


@function hex2rgb($color)
  @return red($color), green($color), blue($color)

@function rgb-color($theme)
  @return var(--mtrl-theme-#{$theme}-rgb)

@function color($theme, $alpha: 1)
  @if $alpha == 1
    @return rgb(rgb-color($theme))
  @else
    @return rgba(rgb-color($theme), $alpha)
