@use "../usability/accessibility" as *
@use "palette" as *

// https://material.io/design/color/the-color-system.html

$primary: $primary-500
$primary-variant: $primary-700
$secondary: $secondary-200
$secondary-variant: $secondary-700
$background: #ffffff
$surface: #ffffff
$error: #b00020

$on-primary: if(contrast-tone($primary) == "dark", #000, #fff)
$on-primary-variant: if(contrast-tone($primary-variant) == "dark", #000, #fff)
$on-secondary: if(contrast-tone($secondary) == "dark", #000, #fff)
$on-secondary-variant: if(contrast-tone($secondary-variant) == "dark", #000, #fff)
$on-background: if(contrast-tone($background) == "dark", #000, #fff)
$on-surface: if(contrast-tone($surface) == "dark", #000, #fff)
$on-error: if(contrast-tone($error) == "dark", #000, #fff)

// https://material.io/design/color/dark-theme.html

$dark--primary: $primary-200
$dark--primary-variant: $primary-700
$dark--dark-primary: #1f1b24
$dark--secondary: $secondary-200
$dark--background: #121212
$dark--surface: #121212
$dark--error: #cf6679

$dark--on-primary: if(contrast-tone($dark--primary) == "dark", #000, #fff)
$dark--on-primary-variant: if(contrast-tone($dark--primary-variant) == "dark", #000, #fff)
$dark--on-secondary: if(contrast-tone($dark--secondary) == "dark", #000, #fff)
$dark--on-background: if(contrast-tone($dark--background) == "dark", #000, #fff)
$dark--on-surface: if(contrast-tone($dark--surface) == "dark", #000, #fff)
$dark--on-error: if(contrast-tone($dark--error) == "dark", #000, #fff)

$elevation-overlay: (00: 0%, 01: 5%, 02: 7%, 03: 8%, 04: 9%, 06: 11%, 08: 12%, 12: 14%, 16: 15%, 24: 16%,)
