.mtrl-sheet--rounded-corners {
  --border-shape: rounded;
  --border-radius: 16px;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--cut-corners {
  --border-shape: cut;
  --border-radius: 16px;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--scoop-corners {
  --border-shape: scoop;
  --border-radius: 16px;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--notch-corners {
  --border-shape: notch;
  --border-radius: 16px;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-1 {
  --border-shape: smooth-rounded;
  --border-radius: 1;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-2 {
  --border-shape: smooth-rounded;
  --border-radius: 2;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-3 {
  --border-shape: smooth-rounded;
  --border-radius: 3;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-4 {
  --border-shape: smooth-rounded;
  --border-radius: 4;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-5 {
  --border-shape: smooth-rounded;
  --border-radius: 5;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-6 {
  --border-shape: smooth-rounded;
  --border-radius: 6;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-7 {
  --border-shape: smooth-rounded;
  --border-radius: 7;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-8 {
  --border-shape: smooth-rounded;
  --border-radius: 8;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-9 {
  --border-shape: smooth-rounded;
  --border-radius: 9;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-10 {
  --border-shape: smooth-rounded;
  --border-radius: 10;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-11 {
  --border-shape: smooth-rounded;
  --border-radius: 11;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--smooth-corners-12 {
  --border-shape: smooth-rounded;
  --border-radius: 12;
  border-radius: 0;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: var(--border-shape);
  --corner-radius: var(--border-radius);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-3 {
  --size: 3;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-4 {
  --size: 4;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-5 {
  --size: 5;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-6 {
  --size: 6;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-7 {
  --size: 7;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-8 {
  --size: 8;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-9 {
  --size: 9;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-10 {
  --size: 10;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-11 {
  --size: 11;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-12 {
  --size: 12;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-13 {
  --size: 13;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-14 {
  --size: 14;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-15 {
  --size: 15;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--polygon-16 {
  --size: 16;
  -webkit-mask-image: paint(corner-shape, filled);
  --corner-shape: polygon;
  --polygon-sides: var(--size);
  --polygon-angle: var(--angle);
  border: none;
  border-image: paint(corner-shape, outlined) 0 fill;
  --stroke-color: var(--border-color);
  --stroke-width: var(--border-width);
}
.mtrl-sheet--aspect-ratio--16-9 {
  position: relative;
  overflow: hidden;
}
.mtrl-sheet--aspect-ratio--16-9::before {
  display: block;
  content: "";
  margin-top: 56.25%;
}
.mtrl-sheet--aspect-ratio--3-2 {
  position: relative;
  overflow: hidden;
}
.mtrl-sheet--aspect-ratio--3-2::before {
  display: block;
  content: "";
  margin-top: 66.6666666667%;
}
.mtrl-sheet--aspect-ratio--4-3 {
  position: relative;
  overflow: hidden;
}
.mtrl-sheet--aspect-ratio--4-3::before {
  display: block;
  content: "";
  margin-top: 75%;
}
.mtrl-sheet--aspect-ratio--square {
  position: relative;
  overflow: hidden;
}
.mtrl-sheet--aspect-ratio--square::before {
  display: block;
  content: "";
  margin-top: 100%;
}
.mtrl-sheet--aspect-ratio--3-4 {
  position: relative;
  overflow: hidden;
}
.mtrl-sheet--aspect-ratio--3-4::before {
  display: block;
  content: "";
  margin-top: 133.3333333333%;
}
.mtrl-sheet--aspect-ratio--2-3 {
  position: relative;
  overflow: hidden;
}
.mtrl-sheet--aspect-ratio--2-3::before {
  display: block;
  content: "";
  margin-top: 150%;
}

/*# sourceMappingURL=sheet.css.map */
