@use "../src/design/theme/material"
@import url("https://fonts.googleapis.com/css?family=Roboto|Google+Sans|Material+Icons&display=swap")

html:not([dark])
  color: rgba(#000000, 87%)
  background-color: #ffffff

html[dark]
  background-color: #121212

  > h1, h2, h3, h4, h5, h6, #theme-toggle, #dir-toggle
    color: rgba(#ffffff, 60%)
    font-weight: 500

body
  font-family: Google Sans, Roboto, sans-serif
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

h2
  color: rgba(#6200ee, 87%)
  margin-top: 3rem

h3, h4
  color: rgba(#000000, 87%)
  margin-top: 24px

span[unsafe], span[against]
  margin: 0 0 0 8px

  &::after
    top: 0
    left: 0
    padding: 2px 8px
    border-radius: 4px
    color: #ffffff
    font-size: 0.8rem
    font-weight: 500

  &[unsafe]::after
    content: 'Unsafe'
    background-color: #b00020

  &[against]::after
    content: 'Against MD Spec'
    background-color: #ff9800

#toggle-container
  display: inline-flex
  position: fixed
  left: initial
  right: 16px
  flex-direction: column

html[dir=rtl]
  #toggle-container
    left: 16px
    right: initial

#theme-toggle, #dir-toggle
  display: inline-flex
  align-items: center
  justify-content: center
  margin-bottom: 8px
  padding: 8px
  border: 1px solid #dddddd
  border-radius: 50%
  color: #03dac6ee
  user-select: none

  &:hover
    cursor: pointer

  i
    font-size: 1.5rem

.mtrl-button[test]
  &.ripple-color
    --mtrl-button-ripple-color: green

  &.container-color
    --mtrl-button-container-color: pink

  &.disabled-container-color
    --mtrl-button-disabled-container-color: yellow

  &.ink-color
    --mtrl-button-ink-color: green

  &.disabled-ink-color
    --mtrl-button-disabled-ink-color: orange

  &.icon-color
    --mtrl-button-icon-color: blue

  &.disabled-icon-color
    --mtrl-button-disabled-icon-color: orange

  &.corner-radius
    --mtrl-button-corner-radius: 8px

  &.stroke-width
    --mtrl-button-stroke-width: 2px

  &.stroke-color
    --mtrl-button-stroke-color: green

  &.dark-stroke-color
    --mtrl-button-dark-stroke-color: green
