@import url("https://fonts.googleapis.com/css?family=Roboto|Google+Sans&display=swap")
@import url("https://fonts.googleapis.com/css?family=Material+Icons&display=swap")

body
  font-family: Google Sans, Roboto, sans-serif
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

h2
  color: rgba(#6200ee, 87%)
  margin-top: 3rem

div[demo-title]
  color: rgba(#000000, 87%)
  margin-top: 24px

div[demo]
  padding-top: 16px

mark
  margin: 0 0 0 8px

  &::after
    top: 0
    left: 0
    padding: 2px 8px
    border-radius: 4px
    color: #ffffff
    font-size: 0.8rem

  &[add-on]::after
    content: 'Add-on'
    background-color: #03dac6

  &[unsafe]::after
    content: 'Unsafe'
    background-color: #b00020

  &[against]::after
    content: 'Against MD Spec'
    background-color: #ff9800
