@import url("https://fonts.googleapis.com/css?family=Roboto|Google+Sans|Material+Icons&display=swap");
:root {
  --mtrl-elevation-0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --mtrl-elevation-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

:root {
  --mtrl-theme-primary-rgb: 98, 0, 238;
  --mtrl-theme-primary: rgb(var(--mtrl-theme-primary-rgb));
  --mtrl-theme-on-primary-rgb: 255, 255, 255;
  --mtrl-theme-on-primary: rgb(var(--mtrl-theme-on-primary-rgb));
  --mtrl-theme-primary-variant-rgb: 55, 0, 179;
  --mtrl-theme-primary-variant: rgb(var(--mtrl-theme-primary-variant-rgb));
  --mtrl-theme-on-primary-variant-rgb: 255, 255, 255;
  --mtrl-theme-on-primary-variant: rgb(var(--mtrl-theme-on-primary-variant-rgb));
  --mtrl-theme-secondary-rgb: 3, 218, 198;
  --mtrl-theme-secondary: rgb(var(--mtrl-theme-secondary-rgb));
  --mtrl-theme-on-secondary-rgb: 0, 0, 0;
  --mtrl-theme-on-secondary: rgb(var(--mtrl-theme-on-secondary-rgb));
  --mtrl-theme-secondary-variant-rgb: 1, 135, 134;
  --mtrl-theme-secondary-variant: rgb(var(--mtrl-theme-secondary-variant-rgb));
  --mtrl-theme-on-secondary-variant-rgb: 255, 255, 255;
  --mtrl-theme-on-secondary-variant: rgb(var(--mtrl-theme-on-secondary-variant-rgb));
  --mtrl-theme-background-rgb: 255, 255, 255;
  --mtrl-theme-background: rgb(var(--mtrl-theme-background-rgb));
  --mtrl-theme-on-background-rgb: 0, 0, 0;
  --mtrl-theme-on-background: rgb(var(--mtrl-theme-on-background-rgb));
  --mtrl-theme-surface-rgb: 255, 255, 255;
  --mtrl-theme-surface: rgb(var(--mtrl-theme-surface-rgb));
  --mtrl-theme-on-surface-rgb: 0, 0, 0;
  --mtrl-theme-on-surface: rgb(var(--mtrl-theme-on-surface-rgb));
  --mtrl-theme-error-rgb: 176, 0, 32;
  --mtrl-theme-error: rgb(var(--mtrl-theme-error-rgb));
  --mtrl-theme-on-error-rgb: 255, 255, 255;
  --mtrl-theme-on-error: rgb(var(--mtrl-theme-on-error-rgb));
  --mtrl-theme-red-rgb: 244, 67, 54;
  --mtrl-theme-red: rgb(var(--mtrl-theme-red-rgb));
  --mtrl-theme-on-red-rgb: 255, 255, 255;
  --mtrl-theme-on-red: rgb(var(--mtrl-theme-on-red-rgb));
  --mtrl-theme-pink-rgb: 233, 30, 99;
  --mtrl-theme-pink: rgb(var(--mtrl-theme-pink-rgb));
  --mtrl-theme-on-pink-rgb: 255, 255, 255;
  --mtrl-theme-on-pink: rgb(var(--mtrl-theme-on-pink-rgb));
  --mtrl-theme-purple-rgb: 156, 39, 176;
  --mtrl-theme-purple: rgb(var(--mtrl-theme-purple-rgb));
  --mtrl-theme-on-purple-rgb: 255, 255, 255;
  --mtrl-theme-on-purple: rgb(var(--mtrl-theme-on-purple-rgb));
  --mtrl-theme-deep-purple-rgb: 103, 58, 183;
  --mtrl-theme-deep-purple: rgb(var(--mtrl-theme-deep-purple-rgb));
  --mtrl-theme-on-deep-purple-rgb: 255, 255, 255;
  --mtrl-theme-on-deep-purple: rgb(var(--mtrl-theme-on-deep-purple-rgb));
  --mtrl-theme-indigo-rgb: 63, 81, 181;
  --mtrl-theme-indigo: rgb(var(--mtrl-theme-indigo-rgb));
  --mtrl-theme-on-indigo-rgb: 255, 255, 255;
  --mtrl-theme-on-indigo: rgb(var(--mtrl-theme-on-indigo-rgb));
  --mtrl-theme-blue-rgb: 33, 150, 243;
  --mtrl-theme-blue: rgb(var(--mtrl-theme-blue-rgb));
  --mtrl-theme-on-blue-rgb: 255, 255, 255;
  --mtrl-theme-on-blue: rgb(var(--mtrl-theme-on-blue-rgb));
  --mtrl-theme-light-blue-rgb: 3, 169, 244;
  --mtrl-theme-light-blue: rgb(var(--mtrl-theme-light-blue-rgb));
  --mtrl-theme-on-light-blue-rgb: 0, 0, 0;
  --mtrl-theme-on-light-blue: rgb(var(--mtrl-theme-on-light-blue-rgb));
  --mtrl-theme-cyan-rgb: 0, 188, 212;
  --mtrl-theme-cyan: rgb(var(--mtrl-theme-cyan-rgb));
  --mtrl-theme-on-cyan-rgb: 0, 0, 0;
  --mtrl-theme-on-cyan: rgb(var(--mtrl-theme-on-cyan-rgb));
  --mtrl-theme-teal-rgb: 0, 150, 136;
  --mtrl-theme-teal: rgb(var(--mtrl-theme-teal-rgb));
  --mtrl-theme-on-teal-rgb: 255, 255, 255;
  --mtrl-theme-on-teal: rgb(var(--mtrl-theme-on-teal-rgb));
  --mtrl-theme-green-rgb: 76, 175, 80;
  --mtrl-theme-green: rgb(var(--mtrl-theme-green-rgb));
  --mtrl-theme-on-green-rgb: 0, 0, 0;
  --mtrl-theme-on-green: rgb(var(--mtrl-theme-on-green-rgb));
  --mtrl-theme-light-green-rgb: 139, 195, 74;
  --mtrl-theme-light-green: rgb(var(--mtrl-theme-light-green-rgb));
  --mtrl-theme-on-light-green-rgb: 0, 0, 0;
  --mtrl-theme-on-light-green: rgb(var(--mtrl-theme-on-light-green-rgb));
  --mtrl-theme-lime-rgb: 205, 220, 57;
  --mtrl-theme-lime: rgb(var(--mtrl-theme-lime-rgb));
  --mtrl-theme-on-lime-rgb: 0, 0, 0;
  --mtrl-theme-on-lime: rgb(var(--mtrl-theme-on-lime-rgb));
  --mtrl-theme-yellow-rgb: 255, 235, 59;
  --mtrl-theme-yellow: rgb(var(--mtrl-theme-yellow-rgb));
  --mtrl-theme-on-yellow-rgb: 0, 0, 0;
  --mtrl-theme-on-yellow: rgb(var(--mtrl-theme-on-yellow-rgb));
  --mtrl-theme-amber-rgb: 255, 193, 7;
  --mtrl-theme-amber: rgb(var(--mtrl-theme-amber-rgb));
  --mtrl-theme-on-amber-rgb: 0, 0, 0;
  --mtrl-theme-on-amber: rgb(var(--mtrl-theme-on-amber-rgb));
  --mtrl-theme-orange-rgb: 255, 152, 0;
  --mtrl-theme-orange: rgb(var(--mtrl-theme-orange-rgb));
  --mtrl-theme-on-orange-rgb: 0, 0, 0;
  --mtrl-theme-on-orange: rgb(var(--mtrl-theme-on-orange-rgb));
  --mtrl-theme-deep-orange-rgb: 255, 87, 34;
  --mtrl-theme-deep-orange: rgb(var(--mtrl-theme-deep-orange-rgb));
  --mtrl-theme-on-deep-orange-rgb: 255, 255, 255;
  --mtrl-theme-on-deep-orange: rgb(var(--mtrl-theme-on-deep-orange-rgb));
  --mtrl-theme-brown-rgb: 121, 85, 72;
  --mtrl-theme-brown: rgb(var(--mtrl-theme-brown-rgb));
  --mtrl-theme-on-brown-rgb: 255, 255, 255;
  --mtrl-theme-on-brown: rgb(var(--mtrl-theme-on-brown-rgb));
  --mtrl-theme-grey-rgb: 158, 158, 158;
  --mtrl-theme-grey: rgb(var(--mtrl-theme-grey-rgb));
  --mtrl-theme-on-grey-rgb: 0, 0, 0;
  --mtrl-theme-on-grey: rgb(var(--mtrl-theme-on-grey-rgb));
  --mtrl-theme-blue-grey-rgb: 96, 125, 139;
  --mtrl-theme-blue-grey: rgb(var(--mtrl-theme-blue-grey-rgb));
  --mtrl-theme-on-blue-grey-rgb: 255, 255, 255;
  --mtrl-theme-on-blue-grey: rgb(var(--mtrl-theme-on-blue-grey-rgb));
  --mtrl-theme-black-rgb: 0, 0, 0;
  --mtrl-theme-black: rgb(var(--mtrl-theme-black-rgb));
  --mtrl-theme-on-black-rgb: 255, 255, 255;
  --mtrl-theme-on-black: rgb(var(--mtrl-theme-on-black-rgb));
  --mtrl-theme-white-rgb: 255, 255, 255;
  --mtrl-theme-white: rgb(var(--mtrl-theme-white-rgb));
  --mtrl-theme-on-white-rgb: 0, 0, 0;
  --mtrl-theme-on-white: rgb(var(--mtrl-theme-on-white-rgb));
}

html[dark] {
  --mtrl-theme-primary-rgb: 187, 134, 252;
  --mtrl-theme-on-primary-rgb: 0, 0, 0;
  --mtrl-theme-primary-variant-rgb: 55, 0, 179;
  --mtrl-theme-on-primary-variant-rgb: 255, 255, 255;
  --mtrl-theme-secondary-rgb: 3, 218, 198;
  --mtrl-theme-on-secondary-rgb: 0, 0, 0;
  --mtrl-theme-secondary-variant-rgb: 3, 218, 198;
  --mtrl-theme-on-secondary-variant-rgb: 0, 0, 0;
  --mtrl-theme-background-rgb: 18, 18, 18;
  --mtrl-theme-on-background-rgb: 255, 255, 255;
  --mtrl-theme-surface-rgb: 18, 18, 18;
  --mtrl-theme-on-surface-rgb: 255, 255, 255;
  --mtrl-theme-error-rgb: 207, 102, 121;
  --mtrl-theme-on-error-rgb: 255, 255, 255;
}

html {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}
html > h1, html h2, html h3, html h4, html h5, html h6, html #theme-toggle, html #dir-toggle {
  color: rgba(0, 0, 0, 0.87);
}

html[dark] {
  background-color: #121212;
}
html[dark] > h1, html[dark] h2, html[dark] h3, html[dark] h4, html[dark] h5, html[dark] h6, html[dark] table, html[dark] td, html[dark] #theme-toggle, html[dark] #dir-toggle {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

body {
  font-family: Google Sans, Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin-top: 3rem;
}

h3, h4 {
  margin-top: 24px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery div {
  display: inline-flex;
  flex-direction: column;
  width: 320px;
  margin: 8px;
}
.gallery div img {
  width: 100%;
}

#toggle-container {
  display: inline-flex;
  position: fixed;
  left: initial;
  right: 16px;
  flex-direction: column;
}
html[dir=rtl] #toggle-container {
  left: 16px;
  right: initial;
}

#theme-toggle, #dir-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 50%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#theme-toggle:hover, #dir-toggle:hover {
  cursor: pointer;
}
#theme-toggle i, #dir-toggle i {
  font-size: 1.5rem;
}

/*# sourceMappingURL=index.css.map */
