@use "../../design/theme/theme" as *
@use "../../design/interaction/ripple" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/density" as *
@use "../../design/layout/spacing" as *
@use "../../design/shape/shape" as *
@use "../../design/typography/typography" as *
@use "../../design/usability/accessibility" as *
@use "../components" as *

.mtrl-text-field
  display: inline-flex

  &:focus-within
    &:not(.mtrl-text-field--outlined)
      .mtrl-text-field__input
        @include height(39px)
        border-bottom: 2px solid theme-prop(primary)

    .mtrl-text-field__label
      @include typography(subtitle2)
      margin-top: 8px
      color: theme-prop(primary, $text--high-emphasis)

  &--outlined
    .mtrl-text-field__input
      @include corner(4px)
      @include padding-horizontal(14px)
      background-color: theme-prop(surface)
      border: 1px solid theme-prop(on-surface, $text--medium-emphasis)

    &:focus-within
      .mtrl-text-field__input
        border-color: theme-prop(primary)

      .mtrl-text-field__label
        @include margin-start(10px)
        @include padding-horizontal(4px)
        margin-top: -6px
        background-color: theme-prop(surface)

  &__input
    @include corner(4px 4px 0 0)
    @include height(40px)
    @include padding-horizontal(12px)
    @include centered-content
    @include accessible-border
    @include typography(body1)
    background-color: theme-prop(on-surface, $stroke)
    color: theme-prop(on-surface, $text--high-emphasis)
    padding-top: 16px
    border-bottom: 1px solid theme-prop(on-surface, $text--medium-emphasis)

  &__label
    @include typography(subtitle1)
    @include padding-horizontal(12px)
    position: absolute
    color: theme-prop(on-surface, $text--high-emphasis)
    margin-top: 20px
    transition: 150ms

  &__helper-text
    @include typography(subtitle2)
    @include padding-horizontal(12px)
    position: absolute
    color: theme-prop(on-surface, $text--helper-text)
    margin-top: 64px
