@use "../../design/color/theme" as *
@use "../../design/interaction/ripple" as *
@use "../../design/interaction/states" as *
@use "../../design/layout/spacing" as *
@use "../../design/typography/typography" as *
@use "../../design/usability/accessibility" as *
@use "../components" as *

.mtrl-text-field
  display: inline-flex

  &:focus-within
    &:not(.mtrl-text-field--outlined) .mtrl-text-field__input
      height: 39px
      border-bottom: 2px solid $primary

    .mtrl-text-field__label
      @include typography(subtitle2)
      margin-top: 8px
      color: rgba($primary, $text--high-emphasis)

  &--outlined
    .mtrl-text-field__input
      height: 56px
      padding: 0 14px
      border-radius: 4px
      border: 1px solid rgba($on-surface, $text--medium-emphasis)
      background-color: $surface

    &:focus-within
      .mtrl-text-field__input
        border-color: $primary

      .mtrl-text-field__label
        @include margin-start(10px)
        margin-top: -6px
        padding: 0 4px
        background-color: $surface

  &__input
    @include accessible-border
    @include typography(body1)
    display: inline-flex
    height: 40px
    padding: 16px 12px 0 12px
    border-radius: 4px 4px 0 0
    border-bottom: 1px solid rgba($on-surface, $text--medium-emphasis)
    background-color: rgba($on-surface, $stroke)
    color: rgba($on-surface, $text--high-emphasis)

  &__label
    @include typography(subtitle1)
    position: absolute
    margin-top: 20px
    padding: 0 12px
    color: rgba($on-surface, $text--high-emphasis)
    transition: 150ms

  &__helper-text
    @include typography(subtitle2)
    position: absolute
    margin-top: 64px
    padding: 0 12px
    color: rgba($on-surface, $text--helper-text)
